<div class="text block-socialtop">
    <ul class="list-inline social-icons">
      <li class="list-inline-item">
        <a class="soc-icons-links" title="Tiktok"  href="https://www.tiktok.com/@remedial.pax?_t=8r6qWtgtiQ1&_r=1">
          <svg class="tiktok-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.6668 2.28543C4.03523 2.28543 3.42951 2.53633 2.98292 2.98292C2.53633 3.42951 2.28543 4.03523 2.28543 4.6668V9.33347C2.28543 9.96505 2.53633 10.5708 2.98292 11.0174C3.42951 11.4639 4.03523 11.7148 4.6668 11.7148H9.33347C9.96505 11.7148 10.5708 11.4639 11.0174 11.0174C11.4639 10.5708 11.7148 9.96505 11.7148 9.33347V4.6668C11.7148 4.03523 11.4639 3.42951 11.0174 2.98292C10.5708 2.53633 9.96505 2.28543 9.33347 2.28543H4.6668ZM2.2259 2.2259C2.87327 1.57853 3.75129 1.21484 4.6668 1.21484H9.33347C10.249 1.21484 11.127 1.57853 11.7744 2.2259C12.4217 2.87327 12.7854 3.75129 12.7854 4.6668V9.33347C12.7854 10.249 12.4217 11.127 11.7744 11.7744C11.127 12.4217 10.249 12.7854 9.33347 12.7854H4.6668C3.75129 12.7854 2.87327 12.4217 2.2259 11.7744C1.57853 11.127 1.21484 10.249 1.21484 9.33347V4.6668C1.21484 3.75129 1.57853 2.87327 2.2259 2.2259Z" fill="#585F65"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.49846 2.97179C7.75764 2.92977 8.00904 3.08194 8.092 3.33106C8.16426 3.54806 8.35317 3.90763 8.66717 4.20571C8.97208 4.49516 9.38028 4.71489 9.91746 4.71489C10.2131 4.71489 10.4527 4.95455 10.4527 5.25019C10.4527 5.54582 10.2131 5.78548 9.91746 5.78548C9.16603 5.78548 8.56742 5.50971 8.11942 5.14805V8.75019C8.11942 9.20218 7.98539 9.64401 7.73428 10.0198C7.48316 10.3956 7.12625 10.6886 6.70867 10.8615C6.29108 11.0345 5.83159 11.0797 5.38828 10.9916C4.94498 10.9034 4.53778 10.6857 4.21818 10.3661C3.89857 10.0465 3.68092 9.63933 3.59274 9.19603C3.50456 8.75272 3.54982 8.29323 3.72279 7.87564C3.89576 7.45806 4.18867 7.10115 4.56448 6.85003C4.9403 6.59892 5.38213 6.46489 5.83412 6.46489C6.12976 6.46489 6.36942 6.70455 6.36942 7.00019C6.36942 7.29582 6.12976 7.53548 5.83412 7.53548C5.59388 7.53548 5.35903 7.60672 5.15927 7.7402C4.95951 7.87367 4.80382 8.06338 4.71188 8.28534C4.61994 8.5073 4.59589 8.75153 4.64276 8.98716C4.68963 9.22279 4.80532 9.43923 4.9752 9.60911C5.14508 9.77899 5.36152 9.89468 5.59715 9.94155C5.83278 9.98842 6.07701 9.96437 6.29897 9.87243C6.52093 9.78049 6.71064 9.6248 6.84411 9.42504C6.97759 9.22528 7.04883 8.99043 7.04883 8.75019V3.50019C7.04883 3.23762 7.23927 3.01381 7.49846 2.97179Z" fill="#585F65"/>
</svg>
          <span >TT</span>
        </a>
      </li>
  <li class="list-inline-item">
        <a class="soc-icons-links" title="Inst"  href="">
          {%- include 'icon-instagram' -%}
          <span >Inst</span>
        </a>
      </li>
      {%- if settings.social_facebook_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          {%- include 'icon-facebook' -%}
          <span >Fb</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_twitter_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          {%- include 'icon-twitter' -%}
          <span >Tw</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          {%- include 'icon-pinterest' -%}
          <span>Pin</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_instagram_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          {%- include 'icon-instagram' -%}
          <span >Ins</span>
        </a>
      </li>
      {%- endif -%}
  
      {%- if settings.social_tumblr_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          {%- include 'icon-tumblr' -%}
          <span >Tum</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_snapchat_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          {%- include 'icon-snapchat' -%}
          <span >Snap</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_youtube_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          {%- include 'icon-youtube' -%}
          <span class="icon__fallback-text">You</span>
        </a>
      </li>
      {%- endif -%}
      {%- if settings.social_vimeo_link != blank -%}
      <li class="list-inline-item">
        <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          {%- include 'icon-vimeo' -%}
          <span >Vim</span>
        </a>
      </li>
      {%- endif -%}
    </ul>
  </div>