{%- if settings.social_facebook_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_facebook_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}"
    >
      {%- include 'icon-facebook' -%}
      <span class="icon__fallback-text">Fb</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_twitter_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_twitter_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}"
    >
      {%- include 'icon-twitter' -%}
      <span class="icon__fallback-text">Tw</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_pinterest_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_pinterest_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}"
    >
      {%- include 'icon-pinterest' -%}
      <span class="icon__fallback-text">Pin</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_instagram_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_instagram_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}"
    >
      {%- include 'icon-instagram' -%}
      <span class="icon__fallback-text">Ins</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_tumblr_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_tumblr_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}"
    >
      {%- include 'icon-tumblr' -%}
      <span class="icon__fallback-text">Tum</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_snapchat_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_snapchat_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}"
    >
      {%- include 'icon-snapchat' -%}
      <span class="icon__fallback-text">Snap</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_youtube_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_youtube_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}"
    >
      {%- include 'icon-youtube' -%}
      <span class="icon__fallback-text">You</span>
    </a>
  </li>
{%- endif -%}
{%- if settings.social_vimeo_link != blank -%}
  <li class="list-inline-item">
    <a
      href="{{ settings.social_vimeo_link | escape }}"
      title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}"
    >
      {%- include 'icon-vimeo' -%}
      <span class="icon__fallback-text">Vim</span>
    </a>
  </li>
{%- endif -%}
<li class="list-inline-item">
  <a class="footer-tiktok-icon" title="Tiktok" href="https://www.tiktok.com/@remedial.pax">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66667 3.25C5.76051 3.25 4.89147 3.60997 4.25072 4.25072C3.60997 4.89147 3.25 5.76051 3.25 6.66667V13.3333C3.25 14.2395 3.60997 15.1085 4.25072 15.7493C4.89147 16.39 5.76051 16.75 6.66667 16.75H13.3333C14.2395 16.75 15.1085 16.39 15.7493 15.7493C16.39 15.1085 16.75 14.2395 16.75 13.3333V6.66667C16.75 5.76051 16.39 4.89147 15.7493 4.25072C15.1085 3.60997 14.2395 3.25 13.3333 3.25H6.66667ZM3.19006 3.19006C4.11211 2.268 5.36269 1.75 6.66667 1.75H13.3333C14.6373 1.75 15.8879 2.268 16.8099 3.19006C17.732 4.11211 18.25 5.36269 18.25 6.66667V13.3333C18.25 14.6373 17.732 15.8879 16.8099 16.8099C15.8879 17.732 14.6373 18.25 13.3333 18.25H6.66667C5.36269 18.25 4.11211 17.732 3.19006 16.8099C2.268 15.8879 1.75 14.6373 1.75 13.3333V6.66667C1.75 5.36269 2.268 4.11211 3.19006 3.19006Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8956 5.00846C11.2114 4.95727 11.5177 5.14267 11.6187 5.44618C11.7091 5.71752 11.9448 6.16605 12.3366 6.53793C12.7172 6.89928 13.2273 7.17396 13.8985 7.17396C14.2587 7.17396 14.5507 7.46595 14.5507 7.82613C14.5507 8.18631 14.2587 8.4783 13.8985 8.4783C12.9568 8.4783 12.209 8.1284 11.6521 7.67237V12.1739C11.6521 12.7329 11.4864 13.2793 11.1759 13.744C10.8653 14.2088 10.424 14.571 9.90756 14.7849C9.39116 14.9988 8.82294 15.0547 8.27473 14.9457C7.72653 14.8367 7.22297 14.5675 6.82774 14.1723C6.4325 13.777 6.16335 13.2735 6.0543 12.7253C5.94526 12.1771 6.00122 11.6088 6.21512 11.0924C6.42902 10.576 6.79125 10.1347 7.25599 9.82414C7.72074 9.51361 8.26713 9.34786 8.82607 9.34786C9.18625 9.34786 9.47824 9.63985 9.47824 10C9.47824 10.3602 9.18625 10.6522 8.82607 10.6522C8.5251 10.6522 8.23089 10.7414 7.98064 10.9087C7.7304 11.0759 7.53535 11.3135 7.42018 11.5916C7.305 11.8696 7.27486 12.1756 7.33358 12.4708C7.3923 12.766 7.53723 13.0371 7.75005 13.25C7.96286 13.4628 8.23401 13.6077 8.5292 13.6664C8.82438 13.7251 9.13035 13.695 9.40841 13.5798C9.68647 13.4646 9.92413 13.2696 10.0913 13.0194C10.2586 12.7691 10.3478 12.4749 10.3478 12.1739V5.65223C10.3478 5.33233 10.5798 5.05966 10.8956 5.00846Z" fill="white"/>
    </svg>
  </a>
</li>
