<!-- article-content.liquid -->
{%- assign new_comment = false -%}
{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- assign duplicate_comment = false %}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true %}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count -%}
  {%- else -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endif -%}
{%- else -%}
  {%- assign number_of_comments = article.comments_count -%}
{%- endif -%}
<div class="container pt-4">
  <article itemscope itemtype="http://schema.org/Article" class="row {% if section.settings.sidebar_position == 'left' %}flex-row-reverse{% endif %} {% unless section.settings.sidebar_enable %} justify-content-center{% endunless %}">
    <div  class="{% if section.settings.sidebar_enable %}col-md-9 {% if section.settings.sidebar_position == 'left' %} pl-lg-5{% else %} pr-lg-5{% endif %} {% else %}col-md-8{% endif %}">
      <div class="content-block mb-4">
        <p class="blog__meta text-primary2">
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        </p>
        <h1 class="h1">{{ article.title }}</h1>
      </div>
      {%- if article.image -%}
      <div class="content-block__full-image--large">
        <noscript>
          {{ article | img_url: '1024x1024' | img_tag: article.title | escape }}
        </noscript>
        <div class="article__photo-container mb-4">
          <div class="article__photo-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="lazyload"
                 src="{%- include 'srcBlank' -%}"
                 data-src="{{ img_url }}"
                 data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ article.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ article.title | escape }}">
          </div>
        </div>
      </div>
      {%- endif -%}
      <div class="content-block">
        <div class="rte rte--indented-images mb-5" itemprop="articleBody">
          {{ article.content }}
        </div>
        <div class="border-top py-4">
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-unstyled list-blog-tags">
            {% for tag in article.tags %}
            <li class=" d-inline-block px-2 py-1 text-uppercase small mr-2 mb-lg-0 mb-2"><strong>{{ tag | link_to_tag: tag }}</strong></li>
            {% endfor %}
            </ul>
            {%- if section.settings.social_sharing_blog -%}
              {%- include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image -%}
            {%- endif -%}
          </div>
        </div>
        {%- if section.settings.blog_show_previous_and_next_buttons -%}
        <div class=" py-4  bg-light">
          <ul class="list-unstyled row">
            <li class="col d-flex justify-content-end pr-2 pr-md-5 text-uppercase font-weight-bold">
              <a class="d-flex align-items-center"  href="{{ blog.previous_article }}"> <i class="icon-arrow-left mr-2"></i>{{'blogs.article.pre_post' | t}} </a>
            </li>
            <li class="col d-flex pl-2 pl-md-5 border-left text-uppercase font-weight-bold">
              <a class="d-flex align-items-center" href="{{ blog.next_article }}">{{'blogs.article.next_post' | t}} <i class="icon-arrow-right ml-2"></i></a>
            </li>
          </ul>
        </div>
        {%- endif -%}
        <div class="row mt-5">
          {%- if section.settings.same_blog != blank -%}
          <div class="col-md-12">
            <h3 class="mb-4">{{section.settings.same_blog}}</h3>
            <ul class="list-unstyled row">
              {%- for article_extra in blogs[blog.handle].articles limit:3 -%}
              <li class=" col-12 col-md-4 col-lg-4">
                <div class="same_blog mb-4 mb-sm-0">
                  <a class="w-100" href="{{ article_extra.url }}">
                    <img class="lazyload" data-src="{{ article_extra.image | img_url: '600x' }}" >
                  </a>
                  <p class="same_blog__publish small text-uppercase text-primary2 pt-3 mb-1">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </p>
                  <h4 class="text-uppercase"><a href="{{ article_extra.url }}">{{ article_extra.title }}</a></h4>
                </div>
              </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="col-12 my-5"><hr/></div>
          {%- endif -%}

          {%- if section.settings.related_blog != blank -%}
          <div class="col-md-12">
            <h3 class="mb-4">{{section.settings.related_blog}}</h3>
            <ul class="list-unstyled row">
              {%- assign icount = 1 -%}
              {%- for article_extra in blog.articles -%}
              {%- assign article_with_tags = false -%}
              {%- for tag_check in article_extra.tags -%}
              {%- if article.tags contains tag_check -%}
              {%- assign article_with_tags = true -%}
              {%- endif -%}
              {%- endfor -%}
              {%- if article_with_tags and icount < 3 -%}
              <li class="col-12 col-md-4 col-lg-4">
                <div class="same_blog mb-4 mb-sm-0">
                  <a class="w-100" href="{{ article_extra.url }}">
                    <img class="lazyload" data-src="{{ article_extra.image | img_url: '600x' }}" >
                  </a>
                  <p class="same_blog__publish small text-uppercase text-primary2 pt-3 mb-1">
                    {{ article.published_at | time_tag: format: 'month_day_year' }}
                  </p>
                  <h4 class="text-uppercase"><a href="{{ article_extra.url }}">{{ article_extra.title }}</a></h4>
                </div>
              </li>
              {%- assign icount = icount | plus: 1 -%}
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
          <div class="col-12 my-5"><hr/></div>
          {%- endif -%}
        </div>
        
      </div>
      
      

      {%- if blog.comments_enabled? -%}
      {%- if number_of_comments > 0 -%}
      <div class="content-block">
        {% unless section.settings.sidebar_enable %} <div class="d-flex justify-content-center"><div class="col-12"> {% endunless %}
        <h2 class="h5">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>

        {%- paginate article.comments by 3 -%}

        <div id="comments">
          {%- if new_comment -%}
          <p class="form-success">
            {%- if blog.moderated? -%}
            {{ 'blogs.comments.success_moderated' | t }}
            {%- else -%}
            {{ 'blogs.comments.success' | t }}
            {%- endif -%}
          </p>
          {%- endif -%}

          {%- if number_of_comments > 0 -%}
          <ul class="comments list--no-bullets js-pagination-content">

            {%- if new_comment -%}
            {%- unless paginate.current_page > 1 -%}
            <li id="{{ comment.id }}" class="comment py-4 mb-0">
              {%- include 'comment' -%}
            </li>
            {%- endunless -%}
            {%- endif -%}

            {%- for comment in article.comments -%}
            {%- unless comment.id == new_comment_id -%}
            <li id="{{ comment.id }}" class="comment border-bottom py-4 mb-0">
              {%- include 'comment' -%}
            </li>
            {%- endunless -%}
            {%- endfor -%}
          </ul>
          
          <div class="js-pagination">
            {%- if paginate.next -%}
            <a href="{{ paginate.next.url }}"></a>
            {%- endif -%}
          </div>
          
          {%- endif -%}
        </div>
        {%- endpaginate -%}
        {% unless section.settings.sidebar_enable %}</div> </div> {% endunless %}
      </div>
      {%- endif -%}
      <div class="content-block pt-5">
        {% unless section.settings.sidebar_enable %} <div class="d-flex justify-content-center"><div class="col-12"> {% endunless %}
        <div class="comment-form form-vertical">
          {%- form 'new_comment', article -%}

          <h3 class="h3 text-capitalize">{{ 'blogs.comments.title' | t }}</h3>
          <p class="mb-4">{{ 'blogs.comments.description' | t }}</p>
          {{ form.errors | default_errors }}

          <div class="row">
            <div class="col-md-6 pr-md-0 form-group">
              <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
              <input type="text" name="comment[author]" id="CommentAuthor" class="form-control {% if form.errors contains 'author' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}">
            </div>

            <div class="col-md-6 form-group">
              <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
              <input type="email" name="comment[email]" id="CommentEmail" class="form-control {% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
            </div>
          </div>
          <div class="form-group ">
            <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
            <textarea name="comment[body]" id="CommentBody" class=" form-control-area {% if form.errors contains 'body' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}" style="height:100px">{{ form.body }}</textarea>
          </div>

          <input type="submit" class="btn btn-theme d-inline-block w-auto mt-4" value="{{ 'blogs.comments.post' | t }}">

          {%- if blog.moderated? -%}
          <p>{{ 'blogs.comments.moderated' | t }}</p>
<!--           <p class="text-center">{{ 'blogs.comments.moderated' | t }}</p> -->
          {%- endif -%}
          {%- endform -%}
        </div>
        {% unless section.settings.sidebar_enable %}</div> </div> {% endunless %}
      </div>
      
      
      {%- endif -%}
      
      

      <div class="full-width full-width--return-link">
        <a href="{{ blog.url }}" class="h1 return-link">
          {%- include 'icon-arrow-thin-left' -%}
          {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
        </a>
      </div>



<p><span style="font-weight: 400;">It's time to break down the barriers and embrace the idea that men, too, can benefit from a solid skincare routine and some grooming tips. In this article, we'll discuss grooming tips, no-makeup makeup, skincare rules, and Remedial for Men. Let's dive in!</span></p>
<div class="row customProductsBlock">
    <div class="js-col col-sm-6 col-6">
        <!-- product-grid-4.liquid -->
        <div class="product-card js-product-card product-card--style1 product-card--style4" data-price="{{ product.price }}">
            <div class="product-card__image-wr overflow-hidden">
                {%- assign image = product.featured_image -%}
                <a class="product-card__image js" href="{{ product.url }}" title="{{ product.title | escape }}" style="max-width: 680px;" data-image-id="{{ image.id }}">
                  {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload transition first-image"
                       data-src="{{ img_url }}"
                       src="{%- include 'srcBlank' -%}"
                       data-sizes="auto"
                       alt="{{ image.alt | escape }}">
                       {% include 'second-image'%}
                </a>
                <div class="product-card__overlay d-flex justify-content-center flex-column product-card__overlaytop">
                    {%- if settings.enable_wishlsit -%}
                    <span data-toggle="tooltip" data-placement="left" data-tooltipalltimes="true" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-wishlist" title="{{ 'products.product.wishlist_text' | t }}" data-handle="{{product.handle}}">
                    {%- include 'icon-heart' -%}
                  </span> {%- endif -%} {%- if settings.enable_compare -%}
                    <span data-tooltip="true" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-compare" title="{{ 'products.product.compare_text' | t }}" data-handle="{{product.handle}}">
                    {%- include 'icon-exchange' -%}
                    {%- include 'icon-close' -%}
                    <span>{{ 'products.product.compare_text' | t }}</span>
                    </span>
                    {%- endif -%}
                </div>
                {% if product.tags contains 'pre-order' %} {% else %}
                <div class="product-card__overlay d-flex justify-content-center flex-row product-card__overlaybottom">
                    <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="{{ 'products.product.quickview_text' | t }}" data-toggle="modal" data-target="#jsQuickview" data-handle="{{product.handle}}"
                        data-pavailable="{% if product.available %}true{% else %}false{% endif %}">
                    
                    <span>{{ 'products.product.quickview_text' | t }}  &nbsp;</span> {%- include 'icon-quickview' -%}
                    </span>
                    <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart {% unless product.available %} disabled{% endunless%}" title="{{ 'products.product.add_to_cart' | t }}" data-id="{{product.selected_or_first_available_variant.id}}">
                    <span>{{ 'products.product.add_to_cart' | t }}</span>
                    <div class="product-card__loading spinner-{{settings.loading}}" role="status"></div>
                    {%- include 'icon-cart-bold' -%}
                    </span>
                </div>
                {% endif %} {%- if settings.enable_countdown_card -%}{%- include 'product-countdown' -%}{%- endif -%} {%- if settings.enablevideo -%} {%- include 'productVideo' -%} {%- endif -%} {%- if product.compare_at_price > product.price -%}
                <div class="product-tag product-tag--absolute" aria-hidden="true">
                    {% if product.tags contains 'pre-order' %} Pre-Order / {%- assign sale_minus = product.compare_at_price_min | minus: product.price_min -%} {%- assign sale_percent = sale_minus | times:100 | divided_by: product.compare_at_price_min -%} -{{ sale_percent
                    | append: '%'}}
                    <style>
                        .kaktusp-label {
                            display: none!important;
                        }
                    </style>
                    {% else %} {%- assign sale_minus = product.compare_at_price_min | minus: product.price_min -%} {%- assign sale_percent = sale_minus | times:100 | divided_by: product.compare_at_price_min -%} -{{ sale_percent | append: '%'}} {% endif %}
                </div>
                {%- endif -%}
            </div>
            <div class="product-card__info">
                <a href="{{ product.url }}" title="{{product.title}}" class="product-card__name h4">{{ product.title }}</a>
                <a href="{{ product.url | append: '#judgeme_product_reviews' }}" title="{{ product.title | escape }} Reviews">
              {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: true, product: product %}
            </a> {%- if product.available -%}
                <div class="product-card__price font-family-1">
                    {%- if product.compare_at_price > product.price -%} {%- if product.price_varies -%} {%- assign sale_price = product.price | money -%} {{ 'products.product.on_sale_from_html' | t: price: sale_price }} {%- else -%}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> {{ product.price | money }}
                    <s class="product-card__regular-price">{{ product.compare_at_price | money }}</s>
                    <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span> {%- endif -%} {%- else -%} {%- if product.price_varies -%} {%- assign price = product.price | money -%} {{ 'products.product.from_text_html' | t: price: price
                    }} {%- else -%}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span> {{ product.price | money }} {%- endif -%} {%- endif -%}
                </div>
                {%- else -%}
                <div class="product-card__availability">
                    {{ 'products.product.sold_out' | t }}
                </div>
                {%- endif -%} {%- include 'swatch-grid-1' -%}
            </div>
        </div>

    </div>
    <div class="js-col col-sm-6 col-6">
        <!-- product-grid-4.liquid -->
        <div class="product-card js-product-card product-card--style1 product-card--style4" data-price="1699">
            <div class="product-card__image-wr overflow-hidden">
                <a class="product-card__image js" href="/collections/all/products/eye-cream" style="max-width: 680px;" data-image-id="33046987243564"><img class="transition first-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Eye Cream" data-srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/9_180x.jpg?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_360x.jpg?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_540x.jpg?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_720x.jpg?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_900x.jpg?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1080x.jpg?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1296x.jpg?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1512x.jpg?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1728x.jpg?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1944x.jpg?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2160x.jpg?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2376x.jpg?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2592x.jpg?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2808x.jpg?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_3024x.jpg?v=1674739994 3024w"
                        sizes="618px" srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/9_180x.jpg?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_360x.jpg?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_540x.jpg?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_720x.jpg?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_900x.jpg?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1080x.jpg?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1296x.jpg?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1512x.jpg?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1728x.jpg?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1944x.jpg?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2160x.jpg?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2376x.jpg?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2592x.jpg?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2808x.jpg?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_3024x.jpg?v=1674739994 3024w">                    <img class="transition second-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Eye Cream" data-srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_180x.png?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_360x.png?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_540x.png?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_720x.png?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_900x.png?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1080x.png?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1296x.png?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1512x.png?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1728x.png?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1944x.png?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2160x.png?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2376x.png?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2592x.png?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2808x.png?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_3024x.png?v=1674739994 3024w"
                        sizes="618px" srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_180x.png?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_360x.png?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_540x.png?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_720x.png?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_900x.png?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1080x.png?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1296x.png?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1512x.png?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1728x.png?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1944x.png?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2160x.png?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2376x.png?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2592x.png?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2808x.png?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_3024x.png?v=1674739994 3024w">                    </a>
                <div class="product-card__overlay d-flex justify-content-center flex-column product-card__overlaytop"></div>
                <div class="product-card__overlay d-flex justify-content-center flex-row product-card__overlaybottom"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="Quickshop" data-toggle="modal" data-target="#jsQuickview" data-handle="eye-cream" data-pavailable="true"> <span>Quickshop &nbsp;</span>                    <i class="icon-quickview"></i> </span> <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40290122858540"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40290122858540"> <span>Add to Cart</span></span>
                    </span>
                    <div class="product-card__loading spinner-grow" role="status"></div>
                </div>
                <div class="product-tag product-tag--absolute" aria-hidden="true">-66%</div>
            </div>
            <div class="product-card__info"><a href="/collections/all/products/eye-cream" title="Eye Cream" class="product-card__name h4">Eye Cream</a>
                <a href="/products/eye-cream#judgeme_product_reviews">
                    <div class="jdgm-widget jdgm-preview-badge" data-id="6842897465388" data-template="collection" data-auto-install="false">
                        <div style="display: none;" class="jdgm-prev-badge" data-average-rating="5.00" data-number-of-reviews="207" data-number-of-questions="0"><span class="jdgm-prev-badge__stars" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span>                            <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-prev-badge__text"> 207 reviews </span></div>
                    </div>
                </a>
                <div class="product-card__price font-family-1"><span class="visually-hidden">Regular price</span> <span class="money">$16.99</span> <s class="product-card__regular-price"><span class="money">$49.99</span></s> <span class="visually-hidden">Sale price</span></div>
                <ul class="product-card__swatch list-unstyled"></ul>
            </div>
        </div>
    </div>
</div>
<h2><span style="font-weight: 400;">Grooming Tips</span></h2>
<p><span style="font-weight: 400;">The right grooming is a key to having good skin texture and a healthy complexion. We’ve collected several steps for this:</span></p>
<ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Facial hair needs to be well-groomed:&nbsp; Use high-quality razors, trimmers, and shaving cream.&nbsp;</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tame your eyebrows: Unruly eyebrows can detract from your overall appearance. Pluck stray hairs, trim long hairs, and use a clear eyebrow gel to keep your brows looking neat and tidy.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Trim your nails: Maintain clean, well-groomed nails by regularly trimming and filing them. Remember to moisturize your hands as well.&nbsp;</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Take care of your hair: Visit a barber, use a conditioner, choose a shampoo that fits exactly your hair.&nbsp;</span></li>
</ul>
<h2><span style="font-weight: 400;">No-Makeup Makeup</span></h2>
<div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/curology-iKoH1gNON70-unsplash_1024x1024.jpg?v=1682763319" alt="No-Makeup Makeup | Remedial Blog | Skincare" style="float: none;"></div>
<p><span style="font-weight: 400;">Such kind of makeup is aimed at boosting your natural features, but we need to do it in a way for you to look like you don’t wear any makeup. This subtle approach can boost your confidence and give you a polished appearance. Here are a few no-makeup makeup tips for men:</span></p>
<ul>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Tinted moisturizer usage: This kind of moisturizer helps to even your skin tone, and your face will look hydrated without any heavy feeling. Remember to choose a tool that fits your skin tone.&nbsp;</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Concealer: This product will help to hide dark circles, redness, irritation, and so on. Be careful applying this tool, because if you overdo this, then a concealer becomes the next problem you need to hide.&nbsp;&nbsp;</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Groom your eyebrows: As mentioned earlier, well-groomed eyebrows can make a significant difference in your appearance. Fill in any sparse areas with a brow pencil or powder and set with a clear brow gel.</span></li>
</ul>
<h3><span style="font-weight: 400;">Skincare Rules</span></h3>
<p><span style="font-weight: 400;">Following easy steps of skincare will help you reach the skin you want. These steps include cleansing, exfoliating, and&nbsp; moisturizing. If you perform all these stages, then your skin will get a second life and you’ll create the best Yourself.&nbsp;&nbsp;</span></p>
<p><span style="font-weight: 400;">Also, remember to treat specific concerns. If you have specific skincare concerns, like dark spots or wrinkles, incorporate targeted treatments into your routine, such as dark spot correctors or retinol cream.</span></p>
<h3><span style="font-weight: 400;">Remedial for Men</span></h3>
<div style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/rayul-_M6gy9oHgII-unsplash_1024x1024.jpg?v=1682763361" alt="Remedial for Men | Remedial Skincare | Remedial Blog" style="float: none;"></div>
<p><span style="font-weight: 400;">At the Remedial store you’ll find many efficient products for you and your skin. They have natural formulas and approved ingredients. Another advantage is that our products fit almost all types of skin. You can use them without any hesitation. Let’s check what we-re offering:&nbsp;&nbsp;</span></p>
<ul>
    <li style="font-weight: 400;"><a href="https://remedial.store/products/retinol-cream" title="Retinol Remedial Cream | Remedial Blog | Remedial Skincare" target="_blank"><span style="font-weight: 400;">Retinol Cream</span></a><span style="font-weight: 400;">: The cream is good to combat age spots. Wrinkles, fine lines also will be removed.&nbsp;</span></li>
    <li style="font-weight: 400;"><a href="https://remedial.store/products/hemp-cream" title="Remedial Instant Hemp Cream | Remedial Blog | Skincare" target="_blank"><span style="font-weight: 400;">Hemp Cream</span></a><span style="font-weight: 400;">: This cream can provide quick relief from sore muscles and joint pain while also nourishing your skin.</span></li>
    <li style="font-weight: 400;"><a href="https://remedial.store/products/eye-cream" title="Eye cream | Remedial Blog | Skincare" target="_blank"><span style="font-weight: 400;">Eye Cream</span></a><span style="font-weight: 400;">: It will help with puffiness and wrinkles around eyes. Due to its powerful formula, our cream will be a good tool to fight age.&nbsp;&nbsp;</span></li>
    <li style="font-weight: 400;"><a href="https://remedial.store/products/collagen-cream" title="Our Remedial Collagen cream for Face | Remedial Blog | Skincare" target="_blank"><span style="font-weight: 400;">Collagen Cream</span></a><span style="font-weight: 400;">: Collagen is very efficient in skin moisturizing. It’s crucial for skin turnover.&nbsp;</span></li>
</ul>
<p><span style="font-weight: 400;">Explore more products in the </span><a href="https://remedial.store/collections/all" title="All our Remedial creams | Remedial Blog | Skincare" target="_blank"><span style="font-weight: 400;">Remedial collection</span></a>    <span style="font-weight: 400;"> to find the perfect products for your skincare needs.&nbsp;</span></p>
<p><span style="font-weight: 400;">In conclusion, embracing a comprehensive skincare and grooming routine can help men achieve a more polished and confident appearance. By following the tips and rules outlined in this article and exploring the range of products available at Remedial, men can enjoy the benefits of healthy, vibrant skin. Don't be afraid to invest in your skincare and grooming regimen – the results will speak for themselves!</span></p>
<div class="row customProductsBlock">
    <div class="js-col col-sm-6 col-6">
        <!-- product-grid-4.liquid -->
        <div class="product-card js-product-card product-card--style1 product-card--style4" data-price="1799">
            <div class="product-card__image-wr overflow-hidden">
                <a class="product-card__image js" href="/products/collagen-cream" style="max-width: 680px;" data-image-id="33989415108652"><img class="transition first-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Collagen Cream for Face" data-srcset="//remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_180x.jpg?v=1684424294 180w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_360x.jpg?v=1684424294 360w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_540x.jpg?v=1684424294 540w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_720x.jpg?v=1684424294 720w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_900x.jpg?v=1684424294 900w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1080x.jpg?v=1684424294 1080w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1296x.jpg?v=1684424294 1296w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1512x.jpg?v=1684424294 1512w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1728x.jpg?v=1684424294 1728w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1944x.jpg?v=1684424294 1944w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2160x.jpg?v=1684424294 2160w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2376x.jpg?v=1684424294 2376w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2592x.jpg?v=1684424294 2592w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2808x.jpg?v=1684424294 2808w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_3024x.jpg?v=1684424294 3024w"
                        sizes="618px" srcset="//remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_180x.jpg?v=1684424294 180w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_360x.jpg?v=1684424294 360w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_540x.jpg?v=1684424294 540w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_720x.jpg?v=1684424294 720w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_900x.jpg?v=1684424294 900w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1080x.jpg?v=1684424294 1080w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1296x.jpg?v=1684424294 1296w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1512x.jpg?v=1684424294 1512w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1728x.jpg?v=1684424294 1728w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_1944x.jpg?v=1684424294 1944w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2160x.jpg?v=1684424294 2160w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2376x.jpg?v=1684424294 2376w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2592x.jpg?v=1684424294 2592w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_2808x.jpg?v=1684424294 2808w, //remedial.store/cdn/shop/files/collagen_a8c30623-6923-406d-81ab-5dbe10f111a9_3024x.jpg?v=1684424294 3024w">                    <img class="transition second-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Collagen Cream for Face" data-srcset="//remedial.store/cdn/shop/products/7_180x.png?v=1684424294 180w, //remedial.store/cdn/shop/products/7_360x.png?v=1684424294 360w, //remedial.store/cdn/shop/products/7_540x.png?v=1684424294 540w, //remedial.store/cdn/shop/products/7_720x.png?v=1684424294 720w, //remedial.store/cdn/shop/products/7_900x.png?v=1684424294 900w, //remedial.store/cdn/shop/products/7_1080x.png?v=1684424294 1080w, //remedial.store/cdn/shop/products/7_1296x.png?v=1684424294 1296w, //remedial.store/cdn/shop/products/7_1512x.png?v=1684424294 1512w, //remedial.store/cdn/shop/products/7_1728x.png?v=1684424294 1728w, //remedial.store/cdn/shop/products/7_1944x.png?v=1684424294 1944w, //remedial.store/cdn/shop/products/7_2160x.png?v=1684424294 2160w, //remedial.store/cdn/shop/products/7_2376x.png?v=1684424294 2376w, //remedial.store/cdn/shop/products/7_2592x.png?v=1684424294 2592w, //remedial.store/cdn/shop/products/7_2808x.png?v=1684424294 2808w, //remedial.store/cdn/shop/products/7_3024x.png?v=1684424294 3024w"
                        sizes="618px" srcset="//remedial.store/cdn/shop/products/7_180x.png?v=1684424294 180w, //remedial.store/cdn/shop/products/7_360x.png?v=1684424294 360w, //remedial.store/cdn/shop/products/7_540x.png?v=1684424294 540w, //remedial.store/cdn/shop/products/7_720x.png?v=1684424294 720w, //remedial.store/cdn/shop/products/7_900x.png?v=1684424294 900w, //remedial.store/cdn/shop/products/7_1080x.png?v=1684424294 1080w, //remedial.store/cdn/shop/products/7_1296x.png?v=1684424294 1296w, //remedial.store/cdn/shop/products/7_1512x.png?v=1684424294 1512w, //remedial.store/cdn/shop/products/7_1728x.png?v=1684424294 1728w, //remedial.store/cdn/shop/products/7_1944x.png?v=1684424294 1944w, //remedial.store/cdn/shop/products/7_2160x.png?v=1684424294 2160w, //remedial.store/cdn/shop/products/7_2376x.png?v=1684424294 2376w, //remedial.store/cdn/shop/products/7_2592x.png?v=1684424294 2592w, //remedial.store/cdn/shop/products/7_2808x.png?v=1684424294 2808w, //remedial.store/cdn/shop/products/7_3024x.png?v=1684424294 3024w">                    </a>
                <div class="product-card__overlay d-flex justify-content-center flex-column product-card__overlaytop"></div>
                <div class="product-card__overlay d-flex justify-content-center flex-row product-card__overlaybottom"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="Quickshop" data-toggle="modal" data-target="#jsQuickview" data-handle="collagen-cream" data-pavailable="true"> <span>Quickshop &nbsp;</span>                    <i class="icon-quickview"></i> </span> <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40243548094508"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40243548094508"> <span>Add to Cart</span></span>
                    </span>
                    <div class="product-card__loading spinner-grow" role="status"></div>
                </div>
                <div class="product-tag product-tag--absolute" aria-hidden="true">-64%</div>
            </div>
            <div class="product-card__info"><a href="/products/collagen-cream" title="Collagen Cream for Face" class="product-card__name h4">Collagen Cream for Face</a>
                <a href="/products/collagen-cream#judgeme_product_reviews">
                    <div class="jdgm-widget jdgm-preview-badge jdgm-preview-badge--with-link jdgm--done-setup" data-id="6831024144428" data-template="collection" data-auto-install="false">
                        <div style="display: none;" class="jdgm-prev-badge" data-average-rating="5.00" data-number-of-reviews="117" data-number-of-questions="0"><span class="jdgm-prev-badge__stars" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span>                            <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-prev-badge__text">117 reviews</span></div>
                    </div>
                </a>
                <div class="product-card__price font-family-1"><span class="visually-hidden">Regular price</span> <span class="money">$17.99</span> <s class="product-card__regular-price"><span class="money">$49.99</span></s> <span class="visually-hidden">Sale price</span></div>
                <ul class="product-card__swatch list-unstyled"></ul>
            </div>
        </div>
    </div>
    <div class="js-col col-sm-6 col-6">
        <!-- product-grid-4.liquid -->
        <div class="product-card js-product-card product-card--style1 product-card--style4" data-price="1699">
            <div class="product-card__image-wr overflow-hidden">
                <a class="product-card__image js" href="/collections/all/products/eye-cream" style="max-width: 680px;" data-image-id="33046987243564"><img class="transition first-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Eye Cream" data-srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/9_180x.jpg?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_360x.jpg?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_540x.jpg?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_720x.jpg?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_900x.jpg?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1080x.jpg?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1296x.jpg?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1512x.jpg?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1728x.jpg?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1944x.jpg?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2160x.jpg?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2376x.jpg?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2592x.jpg?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2808x.jpg?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_3024x.jpg?v=1674739994 3024w"
                        sizes="618px" srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/9_180x.jpg?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_360x.jpg?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_540x.jpg?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_720x.jpg?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_900x.jpg?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1080x.jpg?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1296x.jpg?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1512x.jpg?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1728x.jpg?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_1944x.jpg?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2160x.jpg?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2376x.jpg?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2592x.jpg?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_2808x.jpg?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/9_3024x.jpg?v=1674739994 3024w">                    <img class="transition second-image lazyautosizes lazyloaded" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto" alt="Eye Cream" data-srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_180x.png?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_360x.png?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_540x.png?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_720x.png?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_900x.png?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1080x.png?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1296x.png?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1512x.png?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1728x.png?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1944x.png?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2160x.png?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2376x.png?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2592x.png?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2808x.png?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_3024x.png?v=1674739994 3024w"
                        sizes="618px" srcset="//cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_180x.png?v=1674739994 180w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_360x.png?v=1674739994 360w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_540x.png?v=1674739994 540w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_720x.png?v=1674739994 720w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_900x.png?v=1674739994 900w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1080x.png?v=1674739994 1080w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1296x.png?v=1674739994 1296w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1512x.png?v=1674739994 1512w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1728x.png?v=1674739994 1728w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_1944x.png?v=1674739994 1944w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2160x.png?v=1674739994 2160w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2376x.png?v=1674739994 2376w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2592x.png?v=1674739994 2592w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_2808x.png?v=1674739994 2808w, //cdn.shopify.com/s/files/1/0566/4322/3596/products/6_de8930f3-78b7-4007-82b2-e7977a358396_3024x.png?v=1674739994 3024w">                    </a>
                <div class="product-card__overlay d-flex justify-content-center flex-column product-card__overlaytop"></div>
                <div class="product-card__overlay d-flex justify-content-center flex-row product-card__overlaybottom"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-btn-quickview" title="Quickshop" data-toggle="modal" data-target="#jsQuickview" data-handle="eye-cream" data-pavailable="true"> <span>Quickshop &nbsp;</span>                    <i class="icon-quickview"></i> </span> <span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40290122858540"><span data-tooltip="false" data-placement="left" class="btn btn-theme gradient-theme-vertical product-card__overlay-btn js-grid-cart" title="Add to Cart" data-id="40290122858540"> <span>Add to Cart</span></span>
                    </span>
                    <div class="product-card__loading spinner-grow" role="status"></div>
                </div>
                <div class="product-tag product-tag--absolute" aria-hidden="true">-66%</div>
            </div>
            <div class="product-card__info"><a href="/collections/all/products/eye-cream" title="Eye Cream" class="product-card__name h4">Eye Cream</a>
                <a href="/products/eye-cream#judgeme_product_reviews">
                    <div class="jdgm-widget jdgm-preview-badge" data-id="6842897465388" data-template="collection" data-auto-install="false">
                        <div style="display: none;" class="jdgm-prev-badge" data-average-rating="5.00" data-number-of-reviews="207" data-number-of-questions="0"><span class="jdgm-prev-badge__stars" data-score="5.00" tabindex="0" aria-label="5.00 stars" role="button"> <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span>                            <span class="jdgm-star jdgm--on"></span><span class="jdgm-star jdgm--on"></span> </span> <span class="jdgm-prev-badge__text"> 207 reviews </span></div>
                    </div>
                </a>
                <div class="product-card__price font-family-1"><span class="visually-hidden">Regular price</span> <span class="money">$16.99</span> <s class="product-card__regular-price"><span class="money">$49.99</span></s> <span class="visually-hidden">Sale price</span></div>
                <ul class="product-card__swatch list-unstyled"></ul>
            </div>
        </div>
    </div>
</div>
    </div>
    {%- if section.settings.sidebar_enable -%}
    {%- include 'blogSidebar' -%}
    {%- endif -%}
  </article>
</div>

{% schema %}
{
  "name": "Article content",
  "settings": [
    {
      "type": "checkbox",
      "id": "social_sharing_blog",
      "label": "Enable blog post sharing",
      "default": true
    },
    {
      "type": "text",
      "id": "same_blog",
      "label": "In same blog",
      "default": "In same category"
    },
    {
      "type": "text",
      "id": "related_blog",
      "label": "In same tag",
      "default": "Related by tags"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "sidebar_enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "select",
      "id": "sidebar_position",
      "label": "Position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_previous_and_next_buttons",
      "label": "Show next/ previous buttons",
      "default": true
    }
  ]
}
{% endschema %}