<!-- footer-1.liquid -->
<style>
  :root {--footer-bg:{{section.settings.background}};--footer-bg-bot:{{section.settings.background_bot}};--footer-text:{{section.settings.text}};--footer-title:{{section.settings.title}}}
</style>
<style>
  {%- if section.settings.cssfooter != blank -%}
      {{section.settings.cssfooter}}
    {%- endif -%}
  .site-footer{background-color:var(--footer-bg);color:var(--footer-text);border-top: 1px solid{{section.settings.border_headfooter}};line-height:1.8}.site-footer a{color:var(--footer-text)}.site-footer a:focus,.site-footer a:hover{color:var(--g-main)}.flex-footer{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:start;-webkit-align-items:flex-start;-moz-align-items:flex-start;-ms-align-items:flex-start;-o-align-items:flex-start;align-items:flex-start;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 -10px}.flex-footer .flex__item{-webkit-flex:1 1 100%;-moz-flex:1 1 100%;-ms-flex:1 1 100%;flex:1 1 100%;padding:0 10px}@media only screen and (min-width:750px){.flex-footer .flex__item{-webkit-flex:1 1 20%;-moz-flex:1 1 20%;-ms-flex:1 1 20%;flex:1 1 20%}}.site-footer__section{padding-bottom:20px}.site-footer__copyright{padding:35px 0;background-color:var(--footer-bg-bot);display:flex;align-items:center;}.site-footer__section-title{color:var(--footer-title);}.site-footer__list{list-style:none}.site-footer__list-item{margin-bottom:10px}.site-footer__newsletter-label{display:block}.site-footer__newsletter-label a{color:#ad2c34}.site-footer__newsletter-label a:hover{color:#842228}.site-footer .social-icons .icon{fill:currentColor}.site-footer .social-icons .icon{margin-right:10px}.site-footer .social-icons a{display:block;margin-bottom:10px}.site-footer .payment-icons{padding:5px 0}.site-footer .payment-icons li{padding:5px 0}
  .site-footer__copyright{
    border-top: 1px solid {{section.settings.border-copryright}};
    color:{{section.settings.text_copy}};
  }
  .site-footer .site-footer__section-title{
    text-transform: {%- if section.settings.type_text_title -%} uppercase {%- else -%} capitalize {%- endif -%};
  }
  .site-footer__copyright a{
    color:{{section.settings.text_copy}} !important;
  }
  .site-footer__copyright .social-icons .list-inline-item:not(:last-child){
    margin-right: 1.5rem;
  }
  .site-footer{
    padding: 110px 0 0;
  }
  .site-footer__section .img-logo{
    margin-bottom: 55px;
    width: 200px;
    margin-top:-20px;
  }
  #footer-payment-methods li svg{ 
    height: 32px;
    width: 50px; 
  }
  .section-footer-email .social-icons li span{display: none;}
  .section-footer-email .social-icons li i{color:var(--footer-title)}
  .section-footer-email .social-icons li:not(:last-child){margin-right: 1.5rem;}
  .footer-email .form-control{
    border-bottom-color:var(--footer-text);
    color:var(--footer-text);
  }
  .footer-email .form-control:active,.footer-email .form-control:focus{
    border-bottom-color:var(--footer-title);
  }
  .footer-email .btn-underline{
    border-bottom-color: var(--footer-title) !important;
    color:var(--footer-title) !important;
  }
  .footer-email .btn-underline:hover{
    border-bottom-color: var(--g-main) !important;
    color:var(--g-main) !important;
  }
  .footer-email .form-control::placeholder { 
    color:var(--footer-text);
    opacity: 1;
  }
  .footer-email .form-control:-ms-input-placeholder {
    color:var(--footer-text);
  }
  .footer-email .form-control::-ms-input-placeholder {
    color:var(--footer-text);
  }

  .svg-trust-badge{
    padding-bottom: 60px;
  }

  .svg-trust-badge svg{
    width: 306px;
    height: 40px;
  }

  .svg-trust-badge svg path{
    fill: #FFFFFF;
  }

  @media(max-width: 350px){
    .svg-trust-badge svg{
      width: 280px;
    }

    .container .pb-5{
      padding-bottom: 1rem!important;
    }
  }
</style>

<footer class="site-footer" role="contentinfo">
  <div class="{{ section.settings.setwidth }}">
    <div class="row pb-5">
      {%- for block in section.blocks -%}
      {%- case block.settings.width -%}
      {%- when '16%' -%}
      {%- assign block_width = 'col-lg-2 col-md-4' -%}
      {%- when '25%' -%}
      {%- assign block_width = 'col-lg-3 col-md-6' -%}
      {%- when '33%' -%}
      {%- assign block_width = 'col-lg-4 col-md-6' -%}
      {%- when '50%' -%}
      {%- assign block_width = 'col-lg-6' -%}
      {%- when '66%' -%}
      {%- assign block_width = 'col-lg-8 col-md-12' -%}
      {%- when '75%' -%}
      {%- assign block_width = 'col-lg-9 col-md-12' -%}
      {%- when '100%' -%}
      {%- assign block_width = 'col-12' -%}
      {%- endcase -%}
      <div class="{{block_width}} " {{ block.shopify_attributes }}>
        {%- case block.type -%}
        {%- when 'social' -%}
        <div class="site-footer__section">
          {%- if block.settings.title != blank -%}
          <h4 class="h4 site-footer__section-title text-{{ block.settings.align }}">{{ block.settings.title | escape }}</h4>
          {%- endif -%}
          <ul class="list-inline social-icons text-{{ block.settings.align }}">
            {%- include 'footer-socical' -%}
          </ul>
        </div>

        {%- when 'menu' -%}
        {%- if linklists[block.settings.link_list].links.size > 0 -%}
        <div class="site-footer__section">
          {%- if linklists[block.settings.link_list].title != blank -%}
          <h4 class="h4 site-footer__section-title">{{ linklists[block.settings.link_list].title }}</h4>
          {%- endif -%}
          <ul class="site-footer__list">
            {%- for link in linklists[block.settings.link_list].links -%}
            <li class="site-footer__list-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}

        {%- when 'text' -%}
        <div class="site-footer__section">
          {%- if block.settings.title != blank -%}
          <h4 class="h4 site-footer__section-title">{{ block.settings.title | escape }}</h4>
          {%- endif -%}
          {%- if block.settings.logofooter != blank -%}
          {%- assign logo = block.settings.logofooter -%}
          <div class="image-content__image-container logofooter" style="width: {{block.settings.widthlogofooter}}px;">
            <a class="image-content__image-wrapper" href="/" style="padding-top:{{ 1 | divided_by: logo.aspect_ratio | times: 100}}%;" >
              {%- assign img_url = logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img 
              class="lazyload transition img-logo" 
              data-srcset="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ logo.aspect_ratio }}"
              data-sizes="auto"
              src="{%- include 'srcBlank' -%}"  />
            </a>
            
          </div>
          {%- endif -%}
          <div class="rte-setting">{{ block.settings.text }}</div>
        </div>

        {%- when 'newsletter' -%}
        <div class="site-footer__section section-footer-email">
          {%- if block.settings.title != blank -%}
          <h4 class="h4 site-footer__section-title">
            {{ block.settings.title | escape }}
          </h4>
          {%- endif -%}
          <div class="form-vertical footer-email">
            {%- form 'customer' -%}
            {{ form.errors | default_errors }}
            {%- if form.posted_successfully? -%}
            <p class="form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {%- else -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            {%- if block.settings.subheading != blank -%}
            <label for="NewsletterEmail-{{ block.id }}" class="site-footer__newsletter-label">
              {{ block.settings.subheading }}
            </label>
            {%- endif -%}
            <div class="input-group">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="NewsletterEmail-{{ block.id }}" class="form-control mr-3" autocorrect="off" autocapitalize="off">
              <div class="input-group-append">
                <button type="submit" class="btn btn-underline" name="commit">
                 {{ 'general.newsletter_form.submit' | t }}
                </button>
              </div>
            </div>
            {%- endif -%}
            {%- endform -%}
          </div>
          {% if block.settings.enablesocial %}
          <ul class="list-inline social-icons">
            {%- if settings.social_facebook_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                {%- include 'icon-facebook' -%}
                <span >Fb</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_twitter_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                {%- include 'icon-twitter' -%}
                <span >Tw</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                {%- include 'icon-pinterest' -%}
                <span>Pin</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                {%- include 'icon-instagram' -%}
                <span >Ins</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                {%- include 'icon-tumblr' -%}
                <span >Tum</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                {%- include 'icon-snapchat' -%}
                <span >Snap</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                {%- include 'icon-youtube' -%}
                <span class="icon__fallback-text">You</span>
              </a>
            </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
            <li class="list-inline-item">
              <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                {%- include 'icon-vimeo' -%}
                <span >Vim</span>
              </a>
            </li>
            {%- endif -%}
          </ul>
          {% endif %}
        </div>
        {%- endcase -%}
      </div>
      {%- endfor -%}
    </div>
  </div>

<div class="svg-trust-badge container">
      <svg width="620" height="82" viewBox="0 0 620 82" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1704_1406)">
<g clip-path="url(#clip1_1704_1406)">
<path d="M23.3352 14H22.371V9C22.371 4.03712 18.478 0 13.6924 0C8.90675 0 5.01381 4.03712 5.01381 9V14H4.04953C1.9193 14 0.192383 15.7908 0.192383 18V28C0.192383 30.209 1.9193 32 4.04953 32H23.3352C25.4655 32 27.1924 30.209 27.1924 28V18C27.1924 15.7908 25.4655 14 23.3352 14ZM15.621 24C15.621 25.1044 14.7576 26 13.6924 26C12.6272 26 11.7638 25.1044 11.7638 24V22C11.7638 20.8956 12.6272 20 13.6924 20C14.7576 20 15.621 20.8956 15.621 22V24ZM18.5138 14H8.87095V9C8.87095 6.24218 11.034 4 13.6924 4C16.3507 4 18.5138 6.24218 18.5138 9V14Z" fill="#828385"/>
</g>
<path d="M13.7798 74.336V76H1.01377V74.674L8.57977 67.264C9.53311 66.328 10.1744 65.522 10.5038 64.846C10.8504 64.1527 11.0238 63.4593 11.0238 62.766C11.0238 61.6913 10.6511 60.8593 9.90577 60.27C9.17777 59.6633 8.12911 59.36 6.75977 59.36C4.62777 59.36 2.97244 60.036 1.79377 61.388L0.467773 60.244C1.17844 59.412 2.07977 58.7707 3.17177 58.32C4.28111 57.8693 5.52911 57.644 6.91577 57.644C8.77044 57.644 10.2351 58.086 11.3098 58.97C12.4018 59.8367 12.9478 61.0327 12.9478 62.558C12.9478 63.494 12.7398 64.3953 12.3238 65.262C11.9078 66.1287 11.1191 67.1253 9.95777 68.252L3.76977 74.336H13.7798Z" fill="#828385"/>
<path d="M21.1731 65.262C23.8078 65.262 25.7231 65.7387 26.9191 66.692C28.1325 67.628 28.7391 68.9453 28.7391 70.644C28.7391 71.7013 28.4878 72.646 27.9851 73.478C27.4998 74.31 26.7631 74.9687 25.7751 75.454C24.7871 75.922 23.5738 76.156 22.1351 76.156C20.8351 76.156 19.5958 75.948 18.4171 75.532C17.2558 75.0987 16.3198 74.5267 15.6091 73.816L16.5191 72.334C17.1258 72.958 17.9231 73.4693 18.9111 73.868C19.8991 74.2493 20.9651 74.44 22.1091 74.44C23.6171 74.44 24.7785 74.102 25.5931 73.426C26.4251 72.75 26.8411 71.8487 26.8411 70.722C26.8411 69.474 26.3731 68.5293 25.4371 67.888C24.5184 67.2467 22.9585 66.926 20.7571 66.926H16.8831L17.8191 57.8H27.7771V59.464H19.4571L18.8331 65.262H21.1731Z" fill="#828385"/>
<path d="M38.9157 65.106C40.1117 65.106 41.169 65.3313 42.0877 65.782C43.0237 66.2327 43.7517 66.874 44.2717 67.706C44.7917 68.5207 45.0517 69.474 45.0517 70.566C45.0517 71.6753 44.783 72.6547 44.2457 73.504C43.7083 74.3533 42.963 75.012 42.0097 75.48C41.0737 75.9307 40.0163 76.156 38.8377 76.156C36.4283 76.156 34.5823 75.3673 33.2997 73.79C32.017 72.1953 31.3757 69.9507 31.3757 67.056C31.3757 65.028 31.7223 63.312 32.4157 61.908C33.109 60.504 34.0797 59.4467 35.3277 58.736C36.5757 58.008 38.0317 57.644 39.6957 57.644C41.4983 57.644 42.937 57.9733 44.0117 58.632L43.2577 60.14C42.391 59.568 41.2124 59.282 39.7217 59.282C37.711 59.282 36.1337 59.9233 34.9897 61.206C33.8457 62.4713 33.2737 64.3173 33.2737 66.744C33.2737 67.1773 33.2997 67.6713 33.3517 68.226C33.8023 67.238 34.5217 66.4753 35.5097 65.938C36.4977 65.3833 37.633 65.106 38.9157 65.106ZM38.7597 74.57C40.077 74.57 41.143 74.2147 41.9577 73.504C42.7897 72.776 43.2057 71.814 43.2057 70.618C43.2057 69.422 42.7897 68.4687 41.9577 67.758C41.143 67.0473 40.0337 66.692 38.6297 66.692C37.711 66.692 36.8963 66.8653 36.1857 67.212C35.4923 67.5587 34.9464 68.0353 34.5477 68.642C34.149 69.2487 33.9497 69.9247 33.9497 70.67C33.9497 71.3633 34.1317 72.0047 34.4957 72.594C34.877 73.1833 35.4317 73.66 36.1597 74.024C36.8877 74.388 37.7543 74.57 38.7597 74.57Z" fill="#828385"/>
<path d="M47.8144 68.148H54.6264V69.76H47.8144V68.148Z" fill="#828385"/>
<path d="M66.0621 62.22C67.3448 62.22 68.5061 62.5147 69.5461 63.104C70.5861 63.676 71.4008 64.4907 71.9901 65.548C72.5795 66.6053 72.8741 67.81 72.8741 69.162C72.8741 70.514 72.5795 71.7187 71.9901 72.776C71.4008 73.8333 70.5861 74.6567 69.5461 75.246C68.5061 75.8353 67.3448 76.13 66.0621 76.13C64.9181 76.13 63.8868 75.8873 62.9681 75.402C62.0668 74.9167 61.3388 74.2147 60.7841 73.296V76H59.0161V56.708H60.8621V64.924C61.4341 64.04 62.1621 63.3727 63.0461 62.922C63.9475 62.454 64.9528 62.22 66.0621 62.22ZM65.9321 74.492C66.8854 74.492 67.7521 74.2753 68.5321 73.842C69.3121 73.3913 69.9188 72.7587 70.3521 71.944C70.8028 71.1293 71.0281 70.202 71.0281 69.162C71.0281 68.122 70.8028 67.1947 70.3521 66.38C69.9188 65.5653 69.3121 64.9413 68.5321 64.508C67.7521 64.0573 66.8854 63.832 65.9321 63.832C64.9614 63.832 64.0861 64.0573 63.3061 64.508C62.5435 64.9413 61.9368 65.5653 61.4861 66.38C61.0528 67.1947 60.8361 68.122 60.8361 69.162C60.8361 70.202 61.0528 71.1293 61.4861 71.944C61.9368 72.7587 62.5435 73.3913 63.3061 73.842C64.0861 74.2753 64.9614 74.492 65.9321 74.492Z" fill="#828385"/>
<path d="M76.8972 62.324H78.7432V76H76.8972V62.324ZM77.8332 59.334C77.4519 59.334 77.1312 59.204 76.8712 58.944C76.6112 58.684 76.4812 58.372 76.4812 58.008C76.4812 57.6613 76.6112 57.358 76.8712 57.098C77.1312 56.838 77.4519 56.708 77.8332 56.708C78.2145 56.708 78.5352 56.838 78.7952 57.098C79.0552 57.3407 79.1852 57.6353 79.1852 57.982C79.1852 58.3633 79.0552 58.684 78.7952 58.944C78.5352 59.204 78.2145 59.334 77.8332 59.334Z" fill="#828385"/>
<path d="M91.3416 75.168C90.995 75.48 90.5616 75.7227 90.0416 75.896C89.539 76.052 89.0103 76.13 88.4556 76.13C87.173 76.13 86.185 75.7833 85.4916 75.09C84.7983 74.3967 84.4516 73.4173 84.4516 72.152V63.884H82.0076V62.324H84.4516V59.334H86.2976V62.324H90.4576V63.884H86.2976V72.048C86.2976 72.8627 86.497 73.4867 86.8956 73.92C87.3116 74.336 87.901 74.544 88.6636 74.544C89.045 74.544 89.409 74.4833 89.7556 74.362C90.1196 74.2407 90.4316 74.0673 90.6916 73.842L91.3416 75.168Z" fill="#828385"/>
<path d="M113.935 69.734H102.495C102.599 71.1553 103.145 72.308 104.133 73.192C105.121 74.0587 106.369 74.492 107.877 74.492C108.726 74.492 109.506 74.3447 110.217 74.05C110.927 73.738 111.543 73.2873 112.063 72.698L113.103 73.894C112.496 74.622 111.733 75.1767 110.815 75.558C109.913 75.9393 108.917 76.13 107.825 76.13C106.421 76.13 105.173 75.8353 104.081 75.246C103.006 74.6393 102.165 73.8073 101.559 72.75C100.952 71.6927 100.649 70.4967 100.649 69.162C100.649 67.8273 100.935 66.6313 101.507 65.574C102.096 64.5167 102.893 63.6933 103.899 63.104C104.921 62.5147 106.065 62.22 107.331 62.22C108.596 62.22 109.731 62.5147 110.737 63.104C111.742 63.6933 112.531 64.5167 113.103 65.574C113.675 66.614 113.961 67.81 113.961 69.162L113.935 69.734ZM107.331 63.806C106.013 63.806 104.904 64.2307 104.003 65.08C103.119 65.912 102.616 67.004 102.495 68.356H112.193C112.071 67.004 111.56 65.912 110.659 65.08C109.775 64.2307 108.665 63.806 107.331 63.806Z" fill="#828385"/>
<path d="M124.946 62.22C126.662 62.22 128.023 62.7227 129.028 63.728C130.051 64.716 130.562 66.1633 130.562 68.07V76H128.716V68.252C128.716 66.8307 128.361 65.7473 127.65 65.002C126.94 64.2567 125.926 63.884 124.608 63.884C123.135 63.884 121.965 64.326 121.098 65.21C120.249 66.0767 119.824 67.2813 119.824 68.824V76H117.978V62.324H119.746V64.846C120.249 64.014 120.942 63.3727 121.826 62.922C122.728 62.454 123.768 62.22 124.946 62.22Z" fill="#828385"/>
<path d="M141.553 76.13C140.201 76.13 138.987 75.8353 137.913 75.246C136.855 74.6567 136.023 73.8333 135.417 72.776C134.81 71.7013 134.507 70.4967 134.507 69.162C134.507 67.8273 134.81 66.6313 135.417 65.574C136.023 64.5167 136.855 63.6933 137.913 63.104C138.987 62.5147 140.201 62.22 141.553 62.22C142.731 62.22 143.78 62.454 144.699 62.922C145.635 63.3727 146.371 64.04 146.909 64.924L145.531 65.86C145.08 65.184 144.508 64.6813 143.815 64.352C143.121 64.0053 142.367 63.832 141.553 63.832C140.565 63.832 139.672 64.0573 138.875 64.508C138.095 64.9413 137.479 65.5653 137.029 66.38C136.595 67.1947 136.379 68.122 136.379 69.162C136.379 70.2193 136.595 71.1553 137.029 71.97C137.479 72.7673 138.095 73.3913 138.875 73.842C139.672 74.2753 140.565 74.492 141.553 74.492C142.367 74.492 143.121 74.3273 143.815 73.998C144.508 73.6687 145.08 73.166 145.531 72.49L146.909 73.426C146.371 74.31 145.635 74.986 144.699 75.454C143.763 75.9047 142.714 76.13 141.553 76.13Z" fill="#828385"/>
<path d="M152.563 65.002C152.996 64.0833 153.638 63.39 154.487 62.922C155.354 62.454 156.42 62.22 157.685 62.22V64.014L157.243 63.988C155.804 63.988 154.678 64.43 153.863 65.314C153.048 66.198 152.641 67.4373 152.641 69.032V76H150.795V62.324H152.563V65.002Z" fill="#828385"/>
<path d="M173.363 62.324L166.525 77.638C165.971 78.9207 165.33 79.8307 164.602 80.368C163.874 80.9053 162.998 81.174 161.975 81.174C161.317 81.174 160.702 81.07 160.13 80.862C159.558 80.654 159.064 80.342 158.648 79.926L159.505 78.548C160.199 79.2413 161.031 79.588 162.001 79.588C162.625 79.588 163.154 79.4147 163.587 79.068C164.038 78.7213 164.454 78.132 164.835 77.3L165.434 75.974L159.324 62.324H161.247L166.396 73.946L171.544 62.324H173.363Z" fill="#828385"/>
<path d="M183.269 62.22C184.552 62.22 185.713 62.5147 186.753 63.104C187.793 63.676 188.608 64.4907 189.197 65.548C189.787 66.6053 190.081 67.81 190.081 69.162C190.081 70.5313 189.787 71.7447 189.197 72.802C188.608 73.8593 187.793 74.6827 186.753 75.272C185.731 75.844 184.569 76.13 183.269 76.13C182.16 76.13 181.155 75.9047 180.253 75.454C179.369 74.986 178.641 74.31 178.069 73.426V81.044H176.223V62.324H177.991V65.028C178.546 64.1267 179.274 63.4333 180.175 62.948C181.094 62.4627 182.125 62.22 183.269 62.22ZM183.139 74.492C184.093 74.492 184.959 74.2753 185.739 73.842C186.519 73.3913 187.126 72.7587 187.559 71.944C188.01 71.1293 188.235 70.202 188.235 69.162C188.235 68.122 188.01 67.2033 187.559 66.406C187.126 65.5913 186.519 64.9587 185.739 64.508C184.959 64.0573 184.093 63.832 183.139 63.832C182.169 63.832 181.293 64.0573 180.513 64.508C179.751 64.9587 179.144 65.5913 178.693 66.406C178.26 67.2033 178.043 68.122 178.043 69.162C178.043 70.202 178.26 71.1293 178.693 71.944C179.144 72.7587 179.751 73.3913 180.513 73.842C181.293 74.2753 182.169 74.492 183.139 74.492Z" fill="#828385"/>
<path d="M201.306 75.168C200.96 75.48 200.526 75.7227 200.006 75.896C199.504 76.052 198.975 76.13 198.42 76.13C197.138 76.13 196.15 75.7833 195.456 75.09C194.763 74.3967 194.416 73.4173 194.416 72.152V63.884H191.972V62.324H194.416V59.334H196.262V62.324H200.422V63.884H196.262V72.048C196.262 72.8627 196.462 73.4867 196.86 73.92C197.276 74.336 197.866 74.544 198.628 74.544C199.01 74.544 199.374 74.4833 199.72 74.362C200.084 74.2407 200.396 74.0673 200.656 73.842L201.306 75.168Z" fill="#828385"/>
<path d="M216.352 69.734H204.912C205.016 71.1553 205.562 72.308 206.55 73.192C207.538 74.0587 208.786 74.492 210.294 74.492C211.144 74.492 211.924 74.3447 212.634 74.05C213.345 73.738 213.96 73.2873 214.48 72.698L215.52 73.894C214.914 74.622 214.151 75.1767 213.232 75.558C212.331 75.9393 211.334 76.13 210.242 76.13C208.838 76.13 207.59 75.8353 206.498 75.246C205.424 74.6393 204.583 73.8073 203.976 72.75C203.37 71.6927 203.066 70.4967 203.066 69.162C203.066 67.8273 203.352 66.6313 203.924 65.574C204.514 64.5167 205.311 63.6933 206.316 63.104C207.339 62.5147 208.483 62.22 209.748 62.22C211.014 62.22 212.149 62.5147 213.154 63.104C214.16 63.6933 214.948 64.5167 215.52 65.574C216.092 66.614 216.378 67.81 216.378 69.162L216.352 69.734ZM209.748 63.806C208.431 63.806 207.322 64.2307 206.42 65.08C205.536 65.912 205.034 67.004 204.912 68.356H214.61C214.489 67.004 213.978 65.912 213.076 65.08C212.192 64.2307 211.083 63.806 209.748 63.806Z" fill="#828385"/>
<path d="M232.876 56.708V76H231.108V73.296C230.553 74.2147 229.817 74.9167 228.898 75.402C227.997 75.8873 226.974 76.13 225.83 76.13C224.547 76.13 223.386 75.8353 222.346 75.246C221.306 74.6567 220.491 73.8333 219.902 72.776C219.313 71.7187 219.018 70.514 219.018 69.162C219.018 67.81 219.313 66.6053 219.902 65.548C220.491 64.4907 221.306 63.676 222.346 63.104C223.386 62.5147 224.547 62.22 225.83 62.22C226.939 62.22 227.936 62.454 228.82 62.922C229.721 63.3727 230.458 64.04 231.03 64.924V56.708H232.876ZM225.986 74.492C226.939 74.492 227.797 74.2753 228.56 73.842C229.34 73.3913 229.947 72.7587 230.38 71.944C230.831 71.1293 231.056 70.202 231.056 69.162C231.056 68.122 230.831 67.1947 230.38 66.38C229.947 65.5653 229.34 64.9413 228.56 64.508C227.797 64.0573 226.939 63.832 225.986 63.832C225.015 63.832 224.14 64.0573 223.36 64.508C222.597 64.9413 221.991 65.5653 221.54 66.38C221.107 67.1947 220.89 68.122 220.89 69.162C220.89 70.202 221.107 71.1293 221.54 71.944C221.991 72.7587 222.597 73.3913 223.36 73.842C224.14 74.2753 225.015 74.492 225.986 74.492Z" fill="#828385"/>
<path d="M249.008 76.13C247.898 76.13 246.832 75.974 245.81 75.662C244.804 75.3327 244.016 74.9253 243.444 74.44L244.276 72.984C244.848 73.4347 245.567 73.8073 246.434 74.102C247.3 74.3793 248.202 74.518 249.138 74.518C250.386 74.518 251.304 74.3273 251.894 73.946C252.5 73.5473 252.804 72.9927 252.804 72.282C252.804 71.7793 252.639 71.3893 252.31 71.112C251.98 70.8173 251.564 70.6007 251.062 70.462C250.559 70.306 249.892 70.1587 249.06 70.02C247.95 69.812 247.058 69.604 246.382 69.396C245.706 69.1707 245.125 68.798 244.64 68.278C244.172 67.758 243.938 67.0387 243.938 66.12C243.938 64.976 244.414 64.04 245.368 63.312C246.321 62.584 247.647 62.22 249.346 62.22C250.23 62.22 251.114 62.3413 251.998 62.584C252.882 62.8093 253.61 63.1127 254.182 63.494L253.376 64.976C252.249 64.196 250.906 63.806 249.346 63.806C248.167 63.806 247.274 64.014 246.668 64.43C246.078 64.846 245.784 65.392 245.784 66.068C245.784 66.588 245.948 67.004 246.278 67.316C246.624 67.628 247.049 67.862 247.552 68.018C248.054 68.1567 248.748 68.304 249.632 68.46C250.724 68.668 251.599 68.876 252.258 69.084C252.916 69.292 253.48 69.6473 253.948 70.15C254.416 70.6527 254.65 71.346 254.65 72.23C254.65 73.426 254.147 74.3793 253.142 75.09C252.154 75.7833 250.776 76.13 249.008 76.13Z" fill="#828385"/>
<path d="M265.29 62.22C267.006 62.22 268.367 62.7227 269.372 63.728C270.395 64.716 270.906 66.1633 270.906 68.07V76H269.06V68.252C269.06 66.8307 268.705 65.7473 267.994 65.002C267.284 64.2567 266.27 63.884 264.952 63.884C263.479 63.884 262.309 64.326 261.442 65.21C260.593 66.0767 260.168 67.2813 260.168 68.824V76H258.322V56.708H260.168V64.716C260.671 63.9187 261.364 63.3033 262.248 62.87C263.132 62.4367 264.146 62.22 265.29 62.22Z" fill="#828385"/>
<path d="M281.819 76.13C280.502 76.13 279.314 75.8353 278.257 75.246C277.2 74.6393 276.368 73.8073 275.761 72.75C275.154 71.6927 274.851 70.4967 274.851 69.162C274.851 67.8273 275.154 66.6313 275.761 65.574C276.368 64.5167 277.2 63.6933 278.257 63.104C279.314 62.5147 280.502 62.22 281.819 62.22C283.136 62.22 284.324 62.5147 285.381 63.104C286.438 63.6933 287.262 64.5167 287.851 65.574C288.458 66.6313 288.761 67.8273 288.761 69.162C288.761 70.4967 288.458 71.6927 287.851 72.75C287.262 73.8073 286.438 74.6393 285.381 75.246C284.324 75.8353 283.136 76.13 281.819 76.13ZM281.819 74.492C282.79 74.492 283.656 74.2753 284.419 73.842C285.199 73.3913 285.806 72.7587 286.239 71.944C286.672 71.1293 286.889 70.202 286.889 69.162C286.889 68.122 286.672 67.1947 286.239 66.38C285.806 65.5653 285.199 64.9413 284.419 64.508C283.656 64.0573 282.79 63.832 281.819 63.832C280.848 63.832 279.973 64.0573 279.193 64.508C278.43 64.9413 277.824 65.5653 277.373 66.38C276.94 67.1947 276.723 68.122 276.723 69.162C276.723 70.202 276.94 71.1293 277.373 71.944C277.824 72.7587 278.43 73.3913 279.193 73.842C279.973 74.2753 280.848 74.492 281.819 74.492Z" fill="#828385"/>
<path d="M299.836 62.22C301.118 62.22 302.28 62.5147 303.32 63.104C304.36 63.676 305.174 64.4907 305.764 65.548C306.353 66.6053 306.648 67.81 306.648 69.162C306.648 70.5313 306.353 71.7447 305.764 72.802C305.174 73.8593 304.36 74.6827 303.32 75.272C302.297 75.844 301.136 76.13 299.836 76.13C298.726 76.13 297.721 75.9047 296.82 75.454C295.936 74.986 295.208 74.31 294.636 73.426V81.044H292.79V62.324H294.558V65.028C295.112 64.1267 295.84 63.4333 296.742 62.948C297.66 62.4627 298.692 62.22 299.836 62.22ZM299.706 74.492C300.659 74.492 301.526 74.2753 302.306 73.842C303.086 73.3913 303.692 72.7587 304.126 71.944C304.576 71.1293 304.802 70.202 304.802 69.162C304.802 68.122 304.576 67.2033 304.126 66.406C303.692 65.5913 303.086 64.9587 302.306 64.508C301.526 64.0573 300.659 63.832 299.706 63.832C298.735 63.832 297.86 64.0573 297.08 64.508C296.317 64.9587 295.71 65.5913 295.26 66.406C294.826 67.2033 294.61 68.122 294.61 69.162C294.61 70.202 294.826 71.1293 295.26 71.944C295.71 72.7587 296.317 73.3913 297.08 73.842C297.86 74.2753 298.735 74.492 299.706 74.492Z" fill="#828385"/>
<path d="M317.717 62.22C318.999 62.22 320.161 62.5147 321.201 63.104C322.241 63.676 323.055 64.4907 323.645 65.548C324.234 66.6053 324.529 67.81 324.529 69.162C324.529 70.5313 324.234 71.7447 323.645 72.802C323.055 73.8593 322.241 74.6827 321.201 75.272C320.178 75.844 319.017 76.13 317.717 76.13C316.607 76.13 315.602 75.9047 314.701 75.454C313.817 74.986 313.089 74.31 312.517 73.426V81.044H310.671V62.324H312.439V65.028C312.993 64.1267 313.721 63.4333 314.623 62.948C315.541 62.4627 316.573 62.22 317.717 62.22ZM317.587 74.492C318.54 74.492 319.407 74.2753 320.187 73.842C320.967 73.3913 321.573 72.7587 322.007 71.944C322.457 71.1293 322.683 70.202 322.683 69.162C322.683 68.122 322.457 67.2033 322.007 66.406C321.573 65.5913 320.967 64.9587 320.187 64.508C319.407 64.0573 318.54 63.832 317.587 63.832C316.616 63.832 315.741 64.0573 314.961 64.508C314.198 64.9587 313.591 65.5913 313.141 66.406C312.707 67.2033 312.491 68.122 312.491 69.162C312.491 70.202 312.707 71.1293 313.141 71.944C313.591 72.7587 314.198 73.3913 314.961 73.842C315.741 74.2753 316.616 74.492 317.587 74.492Z" fill="#828385"/>
<path d="M328.552 62.324H330.398V76H328.552V62.324ZM329.488 59.334C329.107 59.334 328.786 59.204 328.526 58.944C328.266 58.684 328.136 58.372 328.136 58.008C328.136 57.6613 328.266 57.358 328.526 57.098C328.786 56.838 329.107 56.708 329.488 56.708C329.869 56.708 330.19 56.838 330.45 57.098C330.71 57.3407 330.84 57.6353 330.84 57.982C330.84 58.3633 330.71 58.684 330.45 58.944C330.19 59.204 329.869 59.334 329.488 59.334Z" fill="#828385"/>
<path d="M342.762 62.22C344.478 62.22 345.839 62.7227 346.844 63.728C347.867 64.716 348.378 66.1633 348.378 68.07V76H346.532V68.252C346.532 66.8307 346.177 65.7473 345.466 65.002C344.756 64.2567 343.742 63.884 342.424 63.884C340.951 63.884 339.781 64.326 338.914 65.21C338.065 66.0767 337.64 67.2813 337.64 68.824V76H335.794V62.324H337.562V64.846C338.065 64.014 338.758 63.3727 339.642 62.922C340.544 62.454 341.584 62.22 342.762 62.22Z" fill="#828385"/>
<path d="M366.363 62.324V74.336C366.363 76.6587 365.791 78.3747 364.647 79.484C363.52 80.6107 361.813 81.174 359.525 81.174C358.259 81.174 357.055 80.9833 355.911 80.602C354.784 80.238 353.865 79.7267 353.155 79.068L354.091 77.664C354.749 78.2533 355.547 78.7127 356.483 79.042C357.436 79.3713 358.433 79.536 359.473 79.536C361.206 79.536 362.48 79.1287 363.295 78.314C364.109 77.5167 364.517 76.2687 364.517 74.57V72.828C363.945 73.6947 363.191 74.3533 362.255 74.804C361.336 75.2547 360.313 75.48 359.187 75.48C357.904 75.48 356.734 75.2027 355.677 74.648C354.637 74.076 353.813 73.2873 353.207 72.282C352.617 71.2593 352.323 70.1067 352.323 68.824C352.323 67.5413 352.617 66.3973 353.207 65.392C353.813 64.3867 354.637 63.6067 355.677 63.052C356.717 62.4973 357.887 62.22 359.187 62.22C360.348 62.22 361.397 62.454 362.333 62.922C363.269 63.39 364.023 64.066 364.595 64.95V62.324H366.363ZM359.369 73.842C360.357 73.842 361.249 73.634 362.047 73.218C362.844 72.7847 363.459 72.1867 363.893 71.424C364.343 70.6613 364.569 69.7947 364.569 68.824C364.569 67.8533 364.343 66.9953 363.893 66.25C363.459 65.4873 362.844 64.898 362.047 64.482C361.267 64.0487 360.374 63.832 359.369 63.832C358.381 63.832 357.488 64.04 356.691 64.456C355.911 64.872 355.295 65.4613 354.845 66.224C354.411 66.9867 354.195 67.8533 354.195 68.824C354.195 69.7947 354.411 70.6613 354.845 71.424C355.295 72.1867 355.911 72.7847 356.691 73.218C357.488 73.634 358.381 73.842 359.369 73.842Z" fill="#828385"/>
<path d="M385.896 62.22C387.178 62.22 388.34 62.5147 389.38 63.104C390.42 63.676 391.234 64.4907 391.824 65.548C392.413 66.6053 392.708 67.81 392.708 69.162C392.708 70.514 392.413 71.7187 391.824 72.776C391.234 73.8333 390.42 74.6567 389.38 75.246C388.34 75.8353 387.178 76.13 385.896 76.13C384.752 76.13 383.72 75.8873 382.802 75.402C381.9 74.9167 381.172 74.2147 380.618 73.296V76H378.85V56.708H380.696V64.924C381.268 64.04 381.996 63.3727 382.88 62.922C383.781 62.454 384.786 62.22 385.896 62.22ZM385.766 74.492C386.719 74.492 387.586 74.2753 388.366 73.842C389.146 73.3913 389.752 72.7587 390.186 71.944C390.636 71.1293 390.862 70.202 390.862 69.162C390.862 68.122 390.636 67.1947 390.186 66.38C389.752 65.5653 389.146 64.9413 388.366 64.508C387.586 64.0573 386.719 63.832 385.766 63.832C384.795 63.832 383.92 64.0573 383.14 64.508C382.377 64.9413 381.77 65.5653 381.32 66.38C380.886 67.1947 380.67 68.122 380.67 69.162C380.67 70.202 380.886 71.1293 381.32 71.944C381.77 72.7587 382.377 73.3913 383.14 73.842C383.92 74.2753 384.795 74.492 385.766 74.492Z" fill="#828385"/>
<path d="M407.842 62.324L401.004 77.638C400.449 78.9207 399.808 79.8307 399.08 80.368C398.352 80.9053 397.477 81.174 396.454 81.174C395.795 81.174 395.18 81.07 394.608 80.862C394.036 80.654 393.542 80.342 393.126 79.926L393.984 78.548C394.677 79.2413 395.509 79.588 396.48 79.588C397.104 79.588 397.633 79.4147 398.066 79.068C398.517 78.7213 398.933 78.132 399.314 77.3L399.912 75.974L393.802 62.324H395.726L400.874 73.946L406.022 62.324H407.842Z" fill="#828385"/>
<path d="M569.422 75.4942C570.49 75.4942 571.355 74.5933 571.355 73.482C571.355 72.3706 570.49 71.4697 569.422 71.4697C568.354 71.4697 567.488 72.3706 567.488 73.482C567.488 74.5933 568.354 75.4942 569.422 75.4942Z" fill="#828385"/>
<path d="M458.186 74.9659C457.321 74.5953 456.558 74.0658 455.998 73.3773C455.387 72.689 454.93 71.8947 454.573 70.9944C454.217 70.0943 454.064 69.0882 454.064 68.0291C454.064 66.9701 454.217 65.964 454.522 65.0637C454.828 64.1635 455.286 63.3163 455.896 62.6808C456.507 61.9924 457.219 61.4629 458.033 61.0923C458.898 60.7216 459.814 60.5098 460.883 60.5098C461.799 60.5098 462.562 60.6157 463.275 60.8804C463.987 61.1452 464.598 61.5159 465.157 61.9395C465.717 62.3631 466.124 62.9456 466.43 63.581C466.786 64.2165 466.989 64.9578 467.091 65.6992H463.529C463.427 65.0637 463.122 64.5342 462.664 64.1106C462.206 63.687 461.646 63.4751 460.985 63.4751C459.865 63.4751 459.051 63.8988 458.491 64.6931C457.932 65.4874 457.677 66.5994 457.677 67.9762C457.677 69.353 457.932 70.412 458.491 71.2592C459 72.1065 459.865 72.4772 460.985 72.4772C461.748 72.4772 462.359 72.2654 462.817 71.8947C463.275 71.4711 463.58 70.8886 463.733 70.0413H467.295C467.244 70.7826 467.04 71.524 466.735 72.1595C466.43 72.7949 466.022 73.3773 465.463 73.9069C464.954 74.3835 464.292 74.8071 463.58 75.0719C462.817 75.3367 462.002 75.4955 461.087 75.4955C460.018 75.5484 459.051 75.3367 458.186 74.9659Z" fill="#828385"/>
<path d="M472.993 62.6805C473.502 61.9391 474.062 61.3567 474.672 60.986C475.283 60.6153 476.046 60.4035 477.013 60.4035C477.725 60.4035 478.387 60.5624 478.946 60.8271C479.506 61.0919 480.015 61.4626 480.422 61.9391C480.829 62.4157 481.135 62.9982 481.389 63.6336C481.643 64.2691 481.745 65.0104 481.745 65.8047V75.1244H478.081V66.3343C478.081 65.54 477.878 64.9045 477.471 64.4279C477.064 63.9514 476.453 63.6866 475.69 63.6866C474.876 63.6866 474.214 64.0043 473.705 64.5868C473.196 65.1693 472.891 65.9636 472.891 66.9696V75.1244H469.228V55.1611H472.891V62.6805H472.993Z" fill="#828385"/>
<path d="M487.75 74.9642C486.885 74.5936 486.122 74.0641 485.511 73.3756C484.901 72.6873 484.443 71.893 484.138 70.9398C483.832 69.9866 483.68 69.0335 483.68 67.9744C483.68 66.9154 483.832 65.9093 484.189 65.009C484.545 64.1088 485.003 63.3145 485.562 62.6262C486.173 61.9378 486.885 61.4082 487.7 61.0376C488.514 60.6669 489.43 60.4551 490.447 60.4551C491.567 60.4551 492.534 60.6669 493.348 61.0905C494.213 61.5141 494.874 62.0966 495.485 62.838C496.045 63.5793 496.503 64.5325 496.808 65.5386C497.113 66.5976 497.266 67.7626 497.266 69.0335H487.293C487.445 70.1455 487.801 71.0457 488.361 71.6812C488.921 72.3165 489.735 72.6343 490.804 72.6343C491.516 72.6343 492.076 72.4755 492.534 72.1577C492.941 71.84 493.297 71.4164 493.45 70.8869H497.062C496.961 71.5222 496.706 72.1047 496.401 72.6873C496.045 73.2698 495.638 73.7463 495.129 74.1699C494.62 74.5936 493.958 74.9642 493.246 75.176C492.534 75.4408 491.719 75.5467 490.854 75.5467C489.684 75.5467 488.666 75.3349 487.75 74.9642ZM488.31 64.1618C487.801 64.6913 487.496 65.4856 487.293 66.3858H493.399C493.348 65.4856 493.043 64.7443 492.534 64.1618C492.025 63.5793 491.312 63.3145 490.498 63.3145C489.531 63.3675 488.819 63.6323 488.31 64.1618Z" fill="#828385"/>
<path d="M502.71 74.9659C501.845 74.5953 501.081 74.0658 500.522 73.3773C499.911 72.689 499.453 71.8947 499.097 70.9944C498.741 70.0943 498.588 69.0882 498.588 68.0291C498.588 66.9701 498.741 65.964 499.046 65.0637C499.351 64.1635 499.809 63.3163 500.42 62.6808C501.03 61.9924 501.743 61.4629 502.557 61.0923C503.422 60.7216 504.338 60.5098 505.407 60.5098C506.322 60.5098 507.086 60.6157 507.798 60.8804C508.51 61.1452 509.121 61.5159 509.681 61.9395C510.241 62.3631 510.648 62.9456 510.953 63.581C511.309 64.2165 511.513 64.9578 511.614 65.6992H508.053C507.951 65.0637 507.645 64.5342 507.188 64.1106C506.73 63.687 506.17 63.4751 505.508 63.4751C504.389 63.4751 503.575 63.8988 503.015 64.6931C502.455 65.4874 502.201 66.5994 502.201 67.9762C502.201 69.353 502.455 70.412 503.015 71.2592C503.524 72.1065 504.389 72.4772 505.508 72.4772C506.272 72.4772 506.882 72.2654 507.34 71.8947C507.798 71.4711 508.103 70.8886 508.256 70.0413H511.767C511.716 70.7826 511.513 71.524 511.207 72.1595C510.902 72.7949 510.495 73.3773 509.935 73.9069C509.426 74.3835 508.765 74.8071 508.053 75.0719C507.289 75.3367 506.475 75.4955 505.559 75.4955C504.542 75.5484 503.575 75.3367 502.71 74.9659Z" fill="#828385"/>
<path d="M517.417 70.3058V75.1244H513.804V55.1611H517.417V66.2283L522.302 60.8271H526.678L521.589 66.2813L527.288 75.1244H522.861L518.994 68.6112L517.417 70.3058Z" fill="#828385"/>
<path d="M531.307 74.9659C530.443 74.5953 529.679 74.0658 529.018 73.3773C528.407 72.689 527.898 71.8947 527.542 70.9944C527.186 70.0943 527.033 69.0882 527.033 68.0291C527.033 66.9701 527.186 65.964 527.542 65.0637C527.898 64.1635 528.407 63.3163 529.018 62.6808C529.628 61.9924 530.392 61.4629 531.307 61.0923C532.173 60.7216 533.139 60.5098 534.208 60.5098C535.277 60.5098 536.243 60.7216 537.109 61.0923C537.973 61.4629 538.737 61.9924 539.398 62.6808C540.008 63.3692 540.518 64.1635 540.874 65.0637C541.23 65.964 541.383 66.9701 541.383 68.0291C541.383 69.0882 541.23 70.0943 540.874 70.9944C540.518 71.8947 540.008 72.742 539.398 73.3773C538.788 74.0658 538.024 74.5953 537.109 74.9659C536.243 75.3367 535.277 75.5484 534.208 75.5484C533.139 75.5484 532.173 75.3367 531.307 74.9659ZM536.804 71.3652C537.414 70.5179 537.719 69.4059 537.719 67.9762C537.719 66.5464 537.414 65.4344 536.804 64.5872C536.192 63.7399 535.328 63.2633 534.208 63.2633C533.088 63.2633 532.223 63.687 531.613 64.5872C531.002 65.4344 530.697 66.5994 530.697 67.9762C530.697 69.353 531.002 70.5179 531.613 71.3652C532.223 72.2124 533.088 72.636 534.208 72.636C535.328 72.636 536.192 72.2124 536.804 71.3652Z" fill="#828385"/>
<path d="M552.069 73.43H551.967C551.509 74.0655 550.95 74.595 550.389 74.9656C549.779 75.3363 549.016 75.4951 548.049 75.4951C546.522 75.4951 545.352 75.0186 544.487 74.1183C543.672 73.1652 543.266 71.9473 543.266 70.3587V60.8271H546.878V69.7233C546.878 70.5705 547.082 71.206 547.439 71.6296C547.795 72.0532 548.405 72.3179 549.169 72.3179C550.033 72.3179 550.696 72.0003 551.204 71.4178C551.713 70.8353 551.967 70.041 551.967 69.0879V60.8271H555.631V75.1245H552.12V73.43H552.069Z" fill="#828385"/>
<path d="M559.141 60.8252V56.3242H562.703V60.8252H565.045V63.314H562.703V70.8863C562.703 71.4159 562.805 71.7866 563.06 71.9984C563.315 72.2102 563.62 72.3161 564.077 72.3161H564.79C564.892 72.3161 565.045 72.3161 565.146 72.2631V75.1226C564.943 75.1226 564.79 75.1756 564.535 75.1756C564.332 75.1756 564.077 75.2285 563.823 75.2285H562.856C562.398 75.2285 561.991 75.1756 561.534 75.0696C561.075 74.9638 560.719 74.8048 560.363 74.5401C560.007 74.2753 559.702 73.9047 559.498 73.481C559.294 73.0574 559.141 72.4749 559.141 71.7866V63.314H557.259V60.8252H559.141Z" fill="#828385"/>
<path d="M576.646 74.9108C575.883 74.5401 575.221 74.0105 574.662 73.3222C574.102 72.6337 573.694 71.8394 573.44 70.9393C573.186 70.039 573.033 69.033 573.033 67.9209C573.033 66.8089 573.186 65.8558 573.44 64.9026C573.745 64.0024 574.153 63.1551 574.662 62.5197C575.221 61.8313 575.883 61.3018 576.646 60.9311C577.409 60.5604 578.325 60.3486 579.343 60.3486C580.869 60.3486 582.141 60.7723 583.109 61.5666C584.075 62.3608 584.686 63.5258 584.94 65.0085H583.312C583.109 63.9494 582.701 63.1022 581.989 62.5727C581.328 62.0431 580.462 61.7784 579.394 61.7784C578.579 61.7784 577.918 61.9372 577.307 62.2549C576.748 62.5727 576.239 62.9963 575.883 63.5788C575.526 64.1083 575.221 64.7967 575.068 65.538C574.865 66.2793 574.814 67.0736 574.814 67.9209C574.814 68.7682 574.916 69.5625 575.119 70.3038C575.323 71.0451 575.577 71.6806 575.985 72.2631C576.341 72.8455 576.849 73.2692 577.409 73.587C577.969 73.9046 578.681 74.0635 579.445 74.0635C580.615 74.0635 581.582 73.6928 582.294 73.0045C583.007 72.316 583.414 71.3629 583.566 70.1979H585.144C584.991 71.8394 584.431 73.1103 583.414 74.1165C582.446 75.0696 581.124 75.5462 579.445 75.5462C578.325 75.4932 577.409 75.2814 576.646 74.9108Z" fill="#828385"/>
<path d="M590.232 74.9108C589.417 74.5401 588.756 74.0105 588.197 73.3222C587.636 72.6337 587.23 71.8394 586.924 70.9393C586.619 70.039 586.467 69.033 586.467 67.9209C586.467 66.8089 586.619 65.8558 586.924 64.9026C587.23 64.0024 587.636 63.1551 588.197 62.5197C588.756 61.8313 589.417 61.3018 590.232 60.9311C591.046 60.5604 591.911 60.3486 592.928 60.3486C593.947 60.3486 594.811 60.5604 595.626 60.9311C596.389 61.3018 597.102 61.8313 597.661 62.5197C598.22 63.2081 598.628 64.0024 598.933 64.9026C599.239 65.8028 599.34 66.8089 599.34 67.9209C599.34 69.033 599.188 69.9861 598.933 70.9393C598.628 71.8394 598.22 72.6867 597.661 73.3222C597.102 74.0105 596.439 74.5401 595.626 74.9108C594.862 75.2814 593.947 75.4932 592.928 75.4932C591.962 75.4932 591.046 75.2814 590.232 74.9108ZM594.965 73.587C595.575 73.2692 596.033 72.8455 596.439 72.2631C596.847 71.6806 597.153 71.0451 597.305 70.3038C597.508 69.5625 597.61 68.7682 597.61 67.9209C597.61 67.0736 597.508 66.2793 597.305 65.538C597.102 64.7967 596.797 64.1613 596.439 63.5788C596.033 62.9963 595.575 62.5727 594.965 62.2549C594.353 61.9372 593.692 61.7784 592.928 61.7784C592.166 61.7784 591.453 61.9372 590.893 62.2549C590.334 62.5727 589.825 62.9963 589.417 63.5788C589.011 64.1613 588.705 64.7967 588.502 65.538C588.299 66.2793 588.197 67.0736 588.197 67.9209C588.197 68.7682 588.299 69.5625 588.502 70.3038C588.705 71.0451 589.011 71.6806 589.417 72.2631C589.825 72.8455 590.334 73.2692 590.893 73.587C591.453 73.9046 592.166 74.0635 592.928 74.0635C593.692 74.0635 594.404 73.9046 594.965 73.587Z" fill="#828385"/>
<path d="M603.361 60.6685V62.8396H603.412C603.869 62.0983 604.43 61.5158 605.091 61.0392C605.752 60.5626 606.618 60.3508 607.635 60.3508C608.5 60.3508 609.263 60.5626 609.925 60.9862C610.586 61.4099 611.044 62.0983 611.349 62.9455H611.401C611.859 62.0983 612.469 61.4628 613.233 60.9862C613.996 60.5097 614.861 60.2979 615.828 60.2979C616.438 60.2979 616.947 60.4038 617.456 60.6156C617.964 60.8274 618.423 61.0922 618.779 61.4628C619.135 61.8335 619.44 62.3101 619.644 62.8926C619.847 63.4751 619.949 64.1105 619.949 64.7989V75.1248H618.32V65.0107C618.32 63.9516 618.066 63.1573 617.507 62.6278C616.947 62.0983 616.234 61.8865 615.421 61.8865C614.912 61.8865 614.403 61.9924 613.996 62.1512C613.538 62.363 613.131 62.6278 612.825 62.9455C612.52 63.2632 612.215 63.7398 612.011 64.2164C611.808 64.7459 611.706 65.2755 611.706 65.9109V75.1248H610.027V65.0107C610.027 63.9516 609.773 63.1573 609.212 62.6278C608.704 62.0983 608.043 61.8865 607.228 61.8865C606.719 61.8865 606.262 61.9924 605.803 62.2042C605.345 62.416 604.938 62.6808 604.532 63.0514C604.175 63.4221 603.869 63.8457 603.666 64.3752C603.463 64.8518 603.361 65.4343 603.361 66.0167V75.1248H601.682V60.6685H603.361Z" fill="#828385"/>
<path d="M440.325 68.0264L446.838 56.165C446.991 55.9002 446.991 55.6354 446.838 55.3707C446.686 55.1589 446.431 55 446.177 55H432.743C432.489 55 432.234 55.1589 432.082 55.3707L425.161 67.6029C425.009 67.8676 425.009 68.1854 425.161 68.3972L432.082 80.6293C432.234 80.8941 432.489 81 432.743 81H446.177C446.431 81 446.686 80.8412 446.838 80.6293C446.991 80.3645 446.991 80.0998 446.838 79.835L440.325 68.0264ZM439.46 66.4378L434.066 56.5886H444.905L439.46 66.4378ZM432.692 57.3829L438.544 68.0264L432.692 78.6701L426.688 68.0264L432.692 57.3829ZM434.066 79.4114L439.46 69.5622L444.854 79.4114H434.066Z" fill="#828385"/>
<path d="M53.0862 29.2597C51.6822 29.2597 50.3215 29.0604 49.0042 28.6617C47.7042 28.2631 46.6728 27.7344 45.9102 27.0757L47.0802 24.4497C47.8255 25.0391 48.7355 25.5244 49.8102 25.9057C50.9022 26.2697 51.9942 26.4517 53.0862 26.4517C54.4382 26.4517 55.4435 26.2351 56.1022 25.8017C56.7782 25.3684 57.1162 24.7964 57.1162 24.0857C57.1162 23.5657 56.9255 23.1411 56.5442 22.8117C56.1802 22.4651 55.7122 22.1964 55.1402 22.0057C54.5682 21.8151 53.7882 21.5984 52.8002 21.3557C51.4135 21.0264 50.2868 20.6971 49.4202 20.3677C48.5708 20.0384 47.8342 19.5271 47.2102 18.8337C46.6035 18.1231 46.3002 17.1697 46.3002 15.9737C46.3002 14.9684 46.5688 14.0584 47.1062 13.2437C47.6608 12.4117 48.4842 11.7531 49.5762 11.2677C50.6855 10.7824 52.0375 10.5397 53.6322 10.5397C54.7415 10.5397 55.8335 10.6784 56.9082 10.9557C57.9828 11.2331 58.9102 11.6317 59.6902 12.1517L58.6242 14.7777C57.8268 14.3097 56.9948 13.9544 56.1282 13.7117C55.2615 13.4691 54.4208 13.3477 53.6062 13.3477C52.2715 13.3477 51.2748 13.5731 50.6162 14.0237C49.9748 14.4744 49.6542 15.0724 49.6542 15.8177C49.6542 16.3377 49.8362 16.7624 50.2002 17.0917C50.5815 17.4211 51.0582 17.6811 51.6302 17.8717C52.2022 18.0624 52.9822 18.2791 53.9702 18.5217C55.3222 18.8337 56.4315 19.1631 57.2982 19.5097C58.1648 19.8391 58.9015 20.3504 59.5082 21.0437C60.1322 21.7371 60.4442 22.6731 60.4442 23.8517C60.4442 24.8571 60.1668 25.7671 59.6122 26.5817C59.0748 27.3964 58.2515 28.0464 57.1422 28.5317C56.0328 29.0171 54.6808 29.2597 53.0862 29.2597Z" fill="#828385"/>
<path d="M71.6217 14.9597C73.3724 14.9597 74.7764 15.4711 75.8337 16.4937C76.8911 17.5164 77.4197 19.0331 77.4197 21.0437V28.9997H74.1697V21.4597C74.1697 20.2464 73.8837 19.3364 73.3117 18.7297C72.7397 18.1057 71.9251 17.7937 70.8677 17.7937C69.6717 17.7937 68.7271 18.1577 68.0337 18.8857C67.3404 19.5964 66.9937 20.6277 66.9937 21.9797V28.9997H63.7437V9.70773H66.9937V16.7277C67.5311 16.1557 68.1897 15.7224 68.9697 15.4277C69.7671 15.1157 70.6511 14.9597 71.6217 14.9597Z" fill="#828385"/>
<path d="M88.1695 29.1817C86.7655 29.1817 85.5002 28.8784 84.3735 28.2717C83.2468 27.6651 82.3628 26.8244 81.7215 25.7497C81.0975 24.6577 80.7855 23.4271 80.7855 22.0577C80.7855 20.6884 81.0975 19.4664 81.7215 18.3917C82.3628 17.3171 83.2468 16.4764 84.3735 15.8697C85.5002 15.2631 86.7655 14.9597 88.1695 14.9597C89.5908 14.9597 90.8648 15.2631 91.9915 15.8697C93.1182 16.4764 93.9935 17.3171 94.6175 18.3917C95.2588 19.4664 95.5795 20.6884 95.5795 22.0577C95.5795 23.4271 95.2588 24.6577 94.6175 25.7497C93.9935 26.8244 93.1182 27.6651 91.9915 28.2717C90.8648 28.8784 89.5908 29.1817 88.1695 29.1817ZM88.1695 26.3997C89.3655 26.3997 90.3535 26.0011 91.1335 25.2037C91.9135 24.4064 92.3035 23.3577 92.3035 22.0577C92.3035 20.7577 91.9135 19.7091 91.1335 18.9117C90.3535 18.1144 89.3655 17.7157 88.1695 17.7157C86.9735 17.7157 85.9855 18.1144 85.2055 18.9117C84.4428 19.7091 84.0615 20.7577 84.0615 22.0577C84.0615 23.3577 84.4428 24.4064 85.2055 25.2037C85.9855 26.0011 86.9735 26.3997 88.1695 26.3997Z" fill="#828385"/>
<path d="M106.643 14.9597C107.995 14.9597 109.2 15.2544 110.257 15.8437C111.332 16.4331 112.173 17.2651 112.779 18.3397C113.386 19.4144 113.689 20.6537 113.689 22.0577C113.689 23.4617 113.386 24.7097 112.779 25.8017C112.173 26.8764 111.332 27.7084 110.257 28.2977C109.2 28.8871 107.995 29.1817 106.643 29.1817C104.771 29.1817 103.289 28.5577 102.197 27.3097V34.0437H98.9473V15.1157H102.041V16.9357C102.579 16.2771 103.237 15.7831 104.017 15.4537C104.815 15.1244 105.69 14.9597 106.643 14.9597ZM106.279 26.3997C107.475 26.3997 108.455 26.0011 109.217 25.2037C109.997 24.4064 110.387 23.3577 110.387 22.0577C110.387 20.7577 109.997 19.7091 109.217 18.9117C108.455 18.1144 107.475 17.7157 106.279 17.7157C105.499 17.7157 104.797 17.8977 104.173 18.2617C103.549 18.6084 103.055 19.1111 102.691 19.7697C102.327 20.4284 102.145 21.1911 102.145 22.0577C102.145 22.9244 102.327 23.6871 102.691 24.3457C103.055 25.0044 103.549 25.5157 104.173 25.8797C104.797 26.2264 105.499 26.3997 106.279 26.3997Z" fill="#828385"/>
<path d="M146.135 15.1157L141.013 28.9997H137.893L134.305 19.4317L130.665 28.9997H127.545L122.449 15.1157H125.517L129.183 25.3597L133.005 15.1157H135.735L139.479 25.4117L143.249 15.1157H146.135Z" fill="#828385"/>
<path d="M148.63 15.1157H151.88V28.9997H148.63V15.1157ZM150.268 12.8277C149.678 12.8277 149.184 12.6457 148.786 12.2817C148.387 11.9004 148.188 11.4324 148.188 10.8777C148.188 10.3231 148.387 9.86373 148.786 9.49973C149.184 9.1184 149.678 8.92773 150.268 8.92773C150.857 8.92773 151.351 9.10973 151.75 9.47373C152.148 9.8204 152.348 10.2624 152.348 10.7997C152.348 11.3717 152.148 11.8571 151.75 12.2557C151.368 12.6371 150.874 12.8277 150.268 12.8277Z" fill="#828385"/>
<path d="M164.751 28.2457C164.37 28.5577 163.902 28.7917 163.347 28.9477C162.81 29.1037 162.238 29.1817 161.631 29.1817C160.106 29.1817 158.927 28.7831 158.095 27.9857C157.263 27.1884 156.847 26.0271 156.847 24.5017V17.8197H154.559V15.2197H156.847V12.0477H160.097V15.2197H163.815V17.8197H160.097V24.4237C160.097 25.0997 160.262 25.6197 160.591 25.9837C160.921 26.3304 161.397 26.5037 162.021 26.5037C162.749 26.5037 163.356 26.3131 163.841 25.9317L164.751 28.2457Z" fill="#828385"/>
<path d="M175.563 14.9597C177.313 14.9597 178.717 15.4711 179.775 16.4937C180.832 17.5164 181.361 19.0331 181.361 21.0437V28.9997H178.111V21.4597C178.111 20.2464 177.825 19.3364 177.253 18.7297C176.681 18.1057 175.866 17.7937 174.809 17.7937C173.613 17.7937 172.668 18.1577 171.975 18.8857C171.281 19.5964 170.935 20.6277 170.935 21.9797V28.9997H167.685V9.70773H170.935V16.7277C171.472 16.1557 172.131 15.7224 172.911 15.4277C173.708 15.1157 174.592 14.9597 175.563 14.9597Z" fill="#828385"/>
<path d="M199.559 29.1817C198.121 29.1817 196.829 28.8784 195.685 28.2717C194.541 27.6651 193.649 26.8244 193.007 25.7497C192.366 24.6577 192.045 23.4271 192.045 22.0577C192.045 20.6884 192.366 19.4664 193.007 18.3917C193.649 17.3171 194.533 16.4764 195.659 15.8697C196.803 15.2631 198.103 14.9597 199.559 14.9597C200.929 14.9597 202.125 15.2371 203.147 15.7917C204.187 16.3464 204.967 17.1437 205.487 18.1837L202.991 19.6397C202.593 18.9984 202.09 18.5217 201.483 18.2097C200.894 17.8804 200.244 17.7157 199.533 17.7157C198.32 17.7157 197.315 18.1144 196.517 18.9117C195.72 19.6917 195.321 20.7404 195.321 22.0577C195.321 23.3751 195.711 24.4324 196.491 25.2297C197.289 26.0097 198.303 26.3997 199.533 26.3997C200.244 26.3997 200.894 26.2437 201.483 25.9317C202.09 25.6024 202.593 25.1171 202.991 24.4757L205.487 25.9317C204.95 26.9717 204.161 27.7777 203.121 28.3497C202.099 28.9044 200.911 29.1817 199.559 29.1817Z" fill="#828385"/>
<path d="M214.593 29.1817C213.189 29.1817 211.924 28.8784 210.797 28.2717C209.671 27.6651 208.787 26.8244 208.145 25.7497C207.521 24.6577 207.209 23.4271 207.209 22.0577C207.209 20.6884 207.521 19.4664 208.145 18.3917C208.787 17.3171 209.671 16.4764 210.797 15.8697C211.924 15.2631 213.189 14.9597 214.593 14.9597C216.015 14.9597 217.289 15.2631 218.415 15.8697C219.542 16.4764 220.417 17.3171 221.041 18.3917C221.683 19.4664 222.003 20.6884 222.003 22.0577C222.003 23.4271 221.683 24.6577 221.041 25.7497C220.417 26.8244 219.542 27.6651 218.415 28.2717C217.289 28.8784 216.015 29.1817 214.593 29.1817ZM214.593 26.3997C215.789 26.3997 216.777 26.0011 217.557 25.2037C218.337 24.4064 218.727 23.3577 218.727 22.0577C218.727 20.7577 218.337 19.7091 217.557 18.9117C216.777 18.1144 215.789 17.7157 214.593 17.7157C213.397 17.7157 212.409 18.1144 211.629 18.9117C210.867 19.7091 210.485 20.7577 210.485 22.0577C210.485 23.3577 210.867 24.4064 211.629 25.2037C212.409 26.0011 213.397 26.3997 214.593 26.3997Z" fill="#828385"/>
<path d="M233.249 14.9597C235 14.9597 236.404 15.4711 237.461 16.4937C238.519 17.5164 239.047 19.0331 239.047 21.0437V28.9997H235.797V21.4597C235.797 20.2464 235.511 19.3364 234.939 18.7297C234.367 18.1057 233.553 17.7937 232.495 17.7937C231.299 17.7937 230.355 18.1577 229.661 18.8857C228.968 19.5964 228.621 20.6277 228.621 21.9797V28.9997H225.371V15.1157H228.465V16.9097C229.003 16.2684 229.679 15.7831 230.493 15.4537C231.308 15.1244 232.227 14.9597 233.249 14.9597Z" fill="#828385"/>
<path d="M249.072 12.1517C247.703 12.1517 247.018 12.8971 247.018 14.3877V15.2197H250.84V17.8197H247.122V28.9997H243.872V17.8197H241.584V15.2197H243.872V14.3357C243.872 12.8451 244.305 11.6751 245.172 10.8257C246.039 9.95907 247.261 9.52573 248.838 9.52573C250.086 9.52573 251.065 9.77707 251.776 10.2797L250.866 12.7237C250.311 12.3424 249.713 12.1517 249.072 12.1517ZM255.104 15.1157H258.354V28.9997H255.104V15.1157ZM256.742 12.8277C256.153 12.8277 255.659 12.6457 255.26 12.2817C254.861 11.9004 254.662 11.4324 254.662 10.8777C254.662 10.3231 254.861 9.86373 255.26 9.49973C255.659 9.1184 256.153 8.92773 256.742 8.92773C257.331 8.92773 257.825 9.10973 258.224 9.47373C258.623 9.8204 258.822 10.2624 258.822 10.7997C258.822 11.3717 258.623 11.8571 258.224 12.2557C257.843 12.6371 257.349 12.8277 256.742 12.8277Z" fill="#828385"/>
<path d="M276.483 9.70773V28.9997H273.363V27.2057C272.826 27.8644 272.159 28.3584 271.361 28.6877C270.581 29.0171 269.715 29.1817 268.761 29.1817C267.427 29.1817 266.222 28.8871 265.147 28.2977C264.09 27.7084 263.258 26.8764 262.651 25.8017C262.045 24.7097 261.741 23.4617 261.741 22.0577C261.741 20.6537 262.045 19.4144 262.651 18.3397C263.258 17.2651 264.09 16.4331 265.147 15.8437C266.222 15.2544 267.427 14.9597 268.761 14.9597C269.68 14.9597 270.521 15.1157 271.283 15.4277C272.046 15.7397 272.696 16.2077 273.233 16.8317V9.70773H276.483ZM269.151 26.3997C269.931 26.3997 270.633 26.2264 271.257 25.8797C271.881 25.5157 272.375 25.0044 272.739 24.3457C273.103 23.6871 273.285 22.9244 273.285 22.0577C273.285 21.1911 273.103 20.4284 272.739 19.7697C272.375 19.1111 271.881 18.6084 271.257 18.2617C270.633 17.8977 269.931 17.7157 269.151 17.7157C268.371 17.7157 267.669 17.8977 267.045 18.2617C266.421 18.6084 265.927 19.1111 265.563 19.7697C265.199 20.4284 265.017 21.1911 265.017 22.0577C265.017 22.9244 265.199 23.6871 265.563 24.3457C265.927 25.0044 266.421 25.5157 267.045 25.8797C267.669 26.2264 268.371 26.3997 269.151 26.3997Z" fill="#828385"/>
<path d="M294.047 22.1357C294.047 22.3611 294.03 22.6817 293.995 23.0977H283.101C283.292 24.1204 283.786 24.9351 284.583 25.5417C285.398 26.1311 286.403 26.4257 287.599 26.4257C289.124 26.4257 290.381 25.9231 291.369 24.9177L293.111 26.9197C292.487 27.6651 291.698 28.2284 290.745 28.6097C289.792 28.9911 288.717 29.1817 287.521 29.1817C285.996 29.1817 284.652 28.8784 283.491 28.2717C282.33 27.6651 281.428 26.8244 280.787 25.7497C280.163 24.6577 279.851 23.4271 279.851 22.0577C279.851 20.7057 280.154 19.4924 280.761 18.4177C281.385 17.3257 282.243 16.4764 283.335 15.8697C284.427 15.2631 285.658 14.9597 287.027 14.9597C288.379 14.9597 289.584 15.2631 290.641 15.8697C291.716 16.4591 292.548 17.2997 293.137 18.3917C293.744 19.4664 294.047 20.7144 294.047 22.1357ZM287.027 17.5597C285.987 17.5597 285.103 17.8717 284.375 18.4957C283.664 19.1024 283.231 19.9171 283.075 20.9397H290.953C290.814 19.9344 290.39 19.1197 289.679 18.4957C288.968 17.8717 288.084 17.5597 287.027 17.5597Z" fill="#828385"/>
<path d="M305.307 14.9597C307.058 14.9597 308.462 15.4711 309.519 16.4937C310.576 17.5164 311.105 19.0331 311.105 21.0437V28.9997H307.855V21.4597C307.855 20.2464 307.569 19.3364 306.997 18.7297C306.425 18.1057 305.61 17.7937 304.553 17.7937C303.357 17.7937 302.412 18.1577 301.719 18.8857C301.026 19.5964 300.679 20.6277 300.679 21.9797V28.9997H297.429V15.1157H300.523V16.9097C301.06 16.2684 301.736 15.7831 302.551 15.4537C303.366 15.1244 304.284 14.9597 305.307 14.9597Z" fill="#828385"/>
<path d="M321.985 29.1817C320.546 29.1817 319.255 28.8784 318.111 28.2717C316.967 27.6651 316.074 26.8244 315.433 25.7497C314.791 24.6577 314.471 23.4271 314.471 22.0577C314.471 20.6884 314.791 19.4664 315.433 18.3917C316.074 17.3171 316.958 16.4764 318.085 15.8697C319.229 15.2631 320.529 14.9597 321.985 14.9597C323.354 14.9597 324.55 15.2371 325.573 15.7917C326.613 16.3464 327.393 17.1437 327.913 18.1837L325.417 19.6397C325.018 18.9984 324.515 18.5217 323.909 18.2097C323.319 17.8804 322.669 17.7157 321.959 17.7157C320.745 17.7157 319.74 18.1144 318.943 18.9117C318.145 19.6917 317.747 20.7404 317.747 22.0577C317.747 23.3751 318.137 24.4324 318.917 25.2297C319.714 26.0097 320.728 26.3997 321.959 26.3997C322.669 26.3997 323.319 26.2437 323.909 25.9317C324.515 25.6024 325.018 25.1171 325.417 24.4757L327.913 25.9317C327.375 26.9717 326.587 27.7777 325.547 28.3497C324.524 28.9044 323.337 29.1817 321.985 29.1817Z" fill="#828385"/>
<path d="M343.831 22.1357C343.831 22.3611 343.814 22.6817 343.779 23.0977H332.885C333.076 24.1204 333.57 24.9351 334.367 25.5417C335.182 26.1311 336.187 26.4257 337.383 26.4257C338.908 26.4257 340.165 25.9231 341.153 24.9177L342.895 26.9197C342.271 27.6651 341.482 28.2284 340.529 28.6097C339.576 28.9911 338.501 29.1817 337.305 29.1817C335.78 29.1817 334.436 28.8784 333.275 28.2717C332.114 27.6651 331.212 26.8244 330.571 25.7497C329.947 24.6577 329.635 23.4271 329.635 22.0577C329.635 20.7057 329.938 19.4924 330.545 18.4177C331.169 17.3257 332.027 16.4764 333.119 15.8697C334.211 15.2631 335.442 14.9597 336.811 14.9597C338.163 14.9597 339.368 15.2631 340.425 15.8697C341.5 16.4591 342.332 17.2997 342.921 18.3917C343.528 19.4664 343.831 20.7144 343.831 22.1357ZM336.811 17.5597C335.771 17.5597 334.887 17.8717 334.159 18.4957C333.448 19.1024 333.015 19.9171 332.859 20.9397H340.737C340.598 19.9344 340.174 19.1197 339.463 18.4957C338.752 17.8717 337.868 17.5597 336.811 17.5597Z" fill="#828385"/>
</g>
<defs>
<clipPath id="clip0_1704_1406">
<rect width="619.532" height="81.174" fill="white" transform="translate(0.467773)"/>
</clipPath>
<clipPath id="clip1_1704_1406">
<rect width="27" height="30" fill="white" transform="translate(2)"/>
</clipPath>
</defs>
</svg>

</div>
  
  <div class="site-footer__copyright" >
    <div class="{{ section.settings.setwidth }}">
      <div class="row align-items-lg-center">
        <div class="col-lg-4">
          <ul class="list-inline social-icons text-center text-md-left">
            {%- include 'footer-socical' -%}
          </ul>
        </div>
        <div class="col-lg-4 text-center">
          <span>&copy; {{ 'now' | date: "%Y" }}, <b class="text-capitalize">{{ shop.name | link_to: '/' }}</b>. </span>
        </div>
        <div class="col-lg-4">
          {%- if section.settings.payment_info == 'svg' -%}
            <ul id="footer-payment-methods" class="list-inline payment-icons text-lg-right">
                <li class="list-inline-item">                   
                <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
                </li> 
                
                <li class="list-inline-item">      
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-maestro"><title id="pi-maestro">Maestro</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#00A2E5" cx="23" cy="12" r="7"></circle><path fill="#7375CF" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                </li> 
                <li class="list-inline-item">  
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
                </li>  
                <li class="list-inline-item">  
                <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-shopify_pay"><title id="pi-shopify_pay">Shop Pay</title><rect x=".5" y=".5" width="37" height="23" rx="2" fill="#5A31F4" stroke="#3F22AB"></rect><path d="M21.382 9.713c0 1.668-1.177 2.858-2.821 2.858h-1.549a.133.133 0 00-.092.038.128.128 0 00-.038.091v2.192a.129.129 0 01-.08.119.13.13 0 01-.05.01h-1.084a.13.13 0 01-.12-.08.127.127 0 01-.01-.05V6.986a.129.129 0 01.13-.13h2.9c1.637 0 2.814 1.19 2.814 2.858zm-1.352 0c0-.958-.658-1.658-1.55-1.658h-1.468a.13.13 0 00-.13.13v3.05a.129.129 0 00.13.13h1.468c.892.005 1.55-.695 1.55-1.652zM21.704 13.504a1.527 1.527 0 01.647-1.317c.423-.316 1.084-.48 2.055-.514l1.033-.036v-.303c0-.607-.41-.863-1.068-.863-.658 0-1.075.231-1.17.61a.127.127 0 01-.125.09h-1.022a.13.13 0 01-.126-.092.126.126 0 01-.004-.055c.152-.898.904-1.58 2.494-1.58 1.692 0 2.303.783 2.303 2.276v3.172a.13.13 0 01-.132.129h-1.03a.13.13 0 01-.13-.13v-.236a.096.096 0 00-.061-.091.099.099 0 00-.107.022c-.31.334-.808.575-1.607.575-1.175 0-1.95-.607-1.95-1.657zm3.735-.687v-.246l-1.339.07c-.705.036-1.115.326-1.115.816 0 .444.376.69 1.034.69.893 0 1.42-.48 1.42-1.33zM27.755 17.417v-.919a.131.131 0 01.157-.127c.158.029.318.044.479.044a1.229 1.229 0 001.245-.876l.067-.211a.133.133 0 000-.088l-2.145-5.471a.13.13 0 01.122-.18h1.04a.132.132 0 01.123.085l1.456 3.859a.131.131 0 00.125.088.133.133 0 00.125-.088l1.265-3.848a.13.13 0 01.126-.09h1.076a.134.134 0 01.132.116.133.133 0 01-.008.063l-2.295 6.076c-.528 1.413-1.433 1.773-2.43 1.773a1.96 1.96 0 01-.561-.066.132.132 0 01-.1-.14zM8.57 6.4a5.363 5.363 0 00-3.683 1.427.231.231 0 00-.029.31l.618.839a.236.236 0 00.276.084.237.237 0 00.086-.056 3.823 3.823 0 012.738-1.11c2.12 0 3.227 1.584 3.227 3.15 0 1.7-1.163 2.898-2.835 2.921-1.292 0-2.266-.85-2.266-1.974a1.908 1.908 0 01.713-1.48.231.231 0 00.033-.324l-.65-.815a.236.236 0 00-.339-.034c-.399.32-.72.724-.942 1.183a3.39 3.39 0 00-.337 1.47c0 1.935 1.655 3.452 3.775 3.464h.03c2.517-.032 4.337-1.884 4.337-4.415 0-2.247-1.667-4.64-4.752-4.64z" fill="#fff"></path></svg>
                  </li>
                  <li class="list-inline-item">  
                <svg class="payment-icon" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
                  </li>
            </ul>
          {%- else -%}
            {%- if section.settings.imgpayment != blank -%}
              <img class="lazyload" src="{%- include 'srcBlank' -%}" data-src="{{section.settings.imgpayment | img_url : '400x'}}" />
            {%- endif -%}
          {%- endif -%}
        </div>
      
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer 1",
  "settings": [
  {
      "type": "textarea",
      "id": "cssfooter",
      "label": "Custom css Footer"
    },
  {
    "type": "select",
    "id": "setwidth",
    "label": "Full Width",
    "default": "container",
    "options": [
      {
        "value": "container",
        "label": "Box"
      },
      {
        "value": "container-fluid",
        "label": "Container Fluid"
      },
      {
        "value": "full",
        "label": "Full"
      }
    ]
  },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#282828"
        },
        {
          "type": "color",
          "id": "border_headfooter",
          "label": "Border Top Head Footer",
          "default": "#f8f8f8"
        },
        {
          "type": "color",
          "id": "background_bot",
          "label": "Background bottom",
          "default": "#f8f8f8"
        },
        {
          "type": "color",
          "id": "border-copryright",
          "label": "Border Bottom Footer",
          "default": "#f8f8f8"
        },
        
        {
          "type": "color",
          "id": "text",
          "label": "Text",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "title",
          "label": "Title",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "text_copy",
          "label": "Text Footer Bottom",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "type_text_title",
          "label": "Uppercase Title",
          "default": true
        },
        {
          "type": "select",
          "id": "payment_info",
          "label": "Payment Info",
          "default": "svg",
          "options": [
            {
              "value": "svg",
              "label": "Svg Payment"
            },
            {
              "value": "img",
              "label": "Image Payment"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "imgpayment",
          "label": "Image Payment"
        }
  ],
  "blocks": [
    {
      "type": "social",
      "name": "Social accounts",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        },
        {
          "type": "radio",
          "id": "align",
          "label": "Icon alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "logofooter",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "widthlogofooter",
          "min": 0,
          "max": 400,
          "step": 10,
          "unit": "px",
          "label": "Width Image",
          "default": 130
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text column"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "<p>Share store details, promotions, or brand content with your customers</p>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Be in the know"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
        },
        {
          "type": "checkbox",
          "id": "enablesocial",
          "label": "Enable Social",
          "default": true
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "25%",
          "options": [
            {
              "value": "16%",
              "label": "16%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}